<table class="help_table">
    <tr>
        <th><%= h(t.help.keyboard.site_navigation) %></th>
        <th><%= h(t.help.keyboard.page_navigation) %></th>
        <th><%= h(t.help.keyboard.table_navigation) %></th>
    </tr>
    <tr>
        <td><span class="key">h</span> - <%= h(t.help.keyboard.home_page) %></td>
        <td><span class="key">?</span> - <%= h(t.help.keyboard.help_page) %></td>
        <td><span class="key"><%= h(t.help.keyboard.keys.home) %></span> - <%= h(t.help.keyboard.first_page) %></td>
    </tr>
        <td><span class="key">k</span> - <%= h(t.help.keyboard.keys_page) %></td>
        <td><span class="key">s</span> - <%= h(t.help.keyboard.activate_search) %></td>
        <td><span class="key"><%= h(t.help.keyboard.keys.pageup) %></span> - <%= h(t.help.keyboard.prev_page) %></td>
    <tr>
        <td><span class="key">t</span> - <%= h(t.help.keyboard.tags_page) %></td>
        <td><span class="key"><%= h(t.help.keyboard.keys.tab) %></span> - <%= h(t.help.keyboard.switch_input) %></td>
        <td><span class="key"><%= h(t.help.keyboard.keys.pagedown) %></span> - <%= h(t.help.keyboard.next_page) %></td>
    </tr>
    <tr>
        <td><span class="key">r</span> - <%= h(t.help.keyboard.relations_page) %></td>
        <td><span class="key">1</span> - <span class="key">9</span> - <%= h(t.help.keyboard.switch_tab) %></td>
        <td><span class="key"><%= h(t.help.keyboard.keys.end) %></span> - <%= h(t.help.keyboard.last_page) %></td>
    </tr>
    <tr>
        <td><span class="key">p</span> - <%= h(t.help.keyboard.projects_page) %></td>
        <td><span class="key"><%= h(t.help.keyboard.keys.esc) %></span> - <%= h(t.help.keyboard.deactivate) %></td>
        <td><span class="key">&uarr;</span> - <%= h(t.help.keyboard.prev_entry) %></td>
    </tr>
    <tr>
        <td><span class="key">c</span> - <%= h(t.help.keyboard.compare_page) %></td>
        <td></td>
        <td><span class="key">&darr;</span> - <%= h(t.help.keyboard.next_entry) %></td>
    </tr>
    <tr>
        <td><span class="key">&larr;</span> - <%= h(t.help.keyboard.up) %></td>
        <td></td>
        <td><span class="key">&rarr;</span> - <%= h(t.help.keyboard.enter_entry) %></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td><span class="key">f</span> - <%= h(t.help.keyboard.activate_filter) %></td>
    </tr>
</table>
