<table class="help_table">
    <tr>
        <th><%= t.help.keyboard.site_navigation %></th>
        <th><%= t.help.keyboard.page_navigation %></th>
        <th><%= t.help.keyboard.table_navigation %></th>
    </tr>
    <tr>
        <td><span class="key">h</span> - <%= t.help.keyboard.home_page %></td>
        <td><span class="key">?</span> - <%= t.help.keyboard.help_page %></td>
        <td><span class="key"><%= t.help.keyboard.keys.home %></span> - <%= t.help.keyboard.first_page %></td>
    </tr>
        <td><span class="key">k</span> - <%= t.help.keyboard.keys_page %></td>
        <td><span class="key">s</span> - <%= t.help.keyboard.activate_search %></td>
        <td><span class="key"><%= t.help.keyboard.keys.pageup %></span> - <%= t.help.keyboard.prev_page %></td>
    <tr>
        <td><span class="key">t</span> - <%= t.help.keyboard.tags_page %></td>
        <td><span class="key"><%= t.help.keyboard.keys.tab %></span> - <%= t.help.keyboard.switch_input %></td>
        <td><span class="key"><%= t.help.keyboard.keys.pagedown %></span> - <%= t.help.keyboard.next_page %></td>
    </tr>
    <tr>
        <td><span class="key">r</span> - <%= t.help.keyboard.relations_page %></td>
        <td><span class="key">1</span> - <span class="key">9</span> - <%= t.help.keyboard.switch_tab %></td>
        <td><span class="key"><%= t.help.keyboard.keys.end %></span> - <%= t.help.keyboard.last_page %></td>
    </tr>
    <tr>
        <td><span class="key">&larr;</span> - <%= t.help.keyboard.up %></td>
        <td><span class="key"><%= t.help.keyboard.keys.esc %></span> - <%= t.help.keyboard.deactivate %></td>
        <td><span class="key">&uarr;</span> - <%= t.help.keyboard.prev_entry %></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td><span class="key">&darr;</span> - <%= t.help.keyboard.next_entry %></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td><span class="key">&rarr;</span> - <%= t.help.keyboard.enter_entry %></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td><span class="key">f</span> - <%= t.help.keyboard.activate_filter %></td>
    </tr>
</table>
