<div class="pre">
    <h1 class="section">Wiki Import</h1>
</div>
<div class="box">
    <h2>Problems during wiki import</h2>
    <table class="list">
        <tr>
            <th>Category</th>
            <th>Reason</th>
            <th>Page title</th>
            <th>Language</th>
            <th>Key</th>
            <th>Value</th>
            <th>Info</th>
        </tr>
<% @problems.each do |row| %>
        <tr>
            <td><%= h(row['category']) %></td>
            <td><%= h(row['reason']) %></td>
            <td><%= wiki_link(h(row['title']))  %></td>
            <td><%= h(row['lang']) %></td>
            <td><%= h(row['key']) %></td>
            <td><%= h(row['value']) %></td>
            <td><%= h(row['info']) %></td>
        </tr>
<% end %>
    </table>
</div>
