<%
javascript_for(:d3)

categories = [
    { category: 'A', name: 'plain',   color: '#2ca02c' },
    { category: 'B', name: 'colon',   color: '#98df8a' },
    { category: 'C', name: 'letters', color: '#dbdb8d' },
    { category: 'D', name: 'space',   color: '#d62727' },
    { category: 'E', name: 'problem', color: '#ff9896' },
    { category: 'F', name: 'rest',    color: '#aec7e8' },
]

@context[:numKeys] = @db.stats('num_keys')

i = '@';
@context[:data] = %w(plain colon letters space problem rest).map{ |type|
    i = i.next;
    { label: i, value: @db.stats('characters_in_keys_' + type) }
}

%>

<div>
    <div>
        <h1><%= h(t.reports.characters_in_keys.name) %></h1>
        <p><%= h(t.reports.characters_in_keys.intro) %></p>
    </div>
</div>
<div id="tabs">
    <ul>
        <li><a href="#statistics"><%= h(t.reports.characters_in_keys.statistics.tab) %></a></li>
<% categories.each do |c| %>
        <li><a href="#<%= c[:name] %>"><span style="background-color: <%= c[:color] %>; border: 1px solid #ffffff;">&nbsp;<%= c[:category] %>&nbsp;</span>
            <%= h(t.reports.characters_in_keys[c[:name]].tab) %></a></li>
<% end %>
    </ul>
    <div id="statistics">
        <h2><%= h(t.reports.characters_in_keys.statistics.title) %></h2>
        <div class="canvas" id="canvas" style="margin: 20px 0;"></div>
        <table class="list">
            <tr>
                <th>&nbsp;</th>
                <th class="tr"><%= h(t.misc.count) %></th>
                <th class="tr"><%= h(t.reports.characters_in_keys.statistics.fraction) %></th>
                <th class="tl"><%= h(t.reports.characters_in_keys.statistics.characters) %></th>
            </tr>
<% categories.each_with_index do |category, n| c = (n%2!=0) ? ' even' : '' %>
            <tr>
                <td class="tc<%= c %>" style="background-color: <%= category[:color] %>;"><%= category[:category] %></td>
                <td class="tr<%= c %>"><%= @db.stats('characters_in_keys_' + category[:name]) %></td>
                <td class="tr<%= c %>"><%= sprintf '%.2f', @db.stats('characters_in_keys_' + category[:name]) * 100.0 / @db.stats('num_keys') %>%</td>
                <td class="tl<%= c %>"><%= t.reports.characters_in_keys.statistics.characters_in_keys[category[:name]] %></td>
            </tr>
<% end %>
            <tr>
                <td class="tc" style="border-top: 1px solid #000000;"></td>
                <td class="tr" style="border-top: 1px solid #000000;"><%= @db.stats('num_keys') %></td>
                <td class="tr" style="border-top: 1px solid #000000;">100%</td>
                <td class="tl" style="border-top: 1px solid #000000;"><%= h(t.reports.characters_in_keys.statistics.characters_in_keys.total) %></td>
            </tr>
        </table>
    </div>
<% categories.map{ |c| c[:name] }.each do |category| %>
    <div id="<%= category %>">
        <h2><%= h(t.reports.characters_in_keys[category].title) %></h2>
        <div><%= t.reports.characters_in_keys[category].intro %></div>
        <div id="grid-<%= category %>"></div>
    </div>
<% end %>
</div>
