<h1><%= t.reports.characters_in_keys.name %></h1>

<%= t.reports.characters_in_keys.intro %>

<div id="tabs">
    <ul>
        <li><a href="#statistics"><%= t.reports.characters_in_keys.statistics.tab %></a></li>
        <li><a href="#whitespace"><span style="background-color: #d62727;">&nbsp;&nbsp;&nbsp;</span> <%= t.reports.characters_in_keys.whitespace.tab %></a></li>
        <li><a href="#problematic"><span style="background-color: #ff9896;">&nbsp;&nbsp;&nbsp;</span> <%= t.reports.characters_in_keys.problematic.tab %></a></li>
    </ul>
    <div id="statistics">
        <h2><%= t.reports.characters_in_keys.statistics.title %></h2>
        <div class="canvas" id="canvas"></div>
        <p></p>
        <table id="grid-statistics">
<% letter='A'
   colors = { :A => '#2ca02c', :B => '#98df8a', :C => '#dbdb8d', :D => '#d62728', :E => '#ff9896', :F => '#aec7e8' }
   %w(plain colon letters space problem rest).each do |type| %>
            <tr>
                <td style="background-color: <%= colors[letter.to_sym] %>;"><%= letter %></td>
                <td><%= @db.stats('characters_in_keys_' + type) %></td>
                <td><%= sprintf '%.2f', @db.stats('characters_in_keys_' + type) * 100.0 / @db.stats('num_keys') %>%</td>
                <td><%= t.reports.characters_in_keys.statistics.characters_in_keys[type] %></td>
            </tr>
<% letter = letter.succ; end %>
            <tr>
                <td style="border-top: 1px solid #000000;"></td>
                <td style="border-top: 1px solid #000000;"><%= @db.stats('num_keys') %></td>
                <td style="border-top: 1px solid #000000;">100%</td>
                <td style="border-top: 1px solid #000000;">Total</td>
            </tr>
        </table>
    </div>
    <div id="whitespace">
        <h2><%= t.reports.characters_in_keys.whitespace.title %></h2>
        <%= t.reports.characters_in_keys.whitespace.intro %>
        <table id="grid-whitespace">
        </table>
    </div>
    <div id="problematic">
        <h2><%= t.reports.characters_in_keys.problematic.title %></h2>
        <%= t.reports.characters_in_keys.problematic.intro %>
        <table id="grid-problematic">
        </table>
    </div>
</div>

<% javascript do
    JQuery.ready do
        JS.raw(<<"JAVASCRIPT")

var tabs = jQuery('#tabs').tabs({
    show: function(event, ui) { 
        window.location.hash = ui.tab.hash;
        create_flexigrid_for.reports.characters_in_keys[ui.tab.hash.substring(1)]();
    }
});

var data = #{ i = '@'; %w(plain colon letters space problem rest).map{ |type| i=i.next; [ { :label => i, :value => @db.stats('characters_in_keys_' + type) } ] }.to_json() };

var w=968, h=50;

var vis = new pv.Panel()
    .canvas('canvas')
    .width(w + 20)
    .height(h);

var colors = #{ colors.to_json };

var scale = pv.Scale.linear(0, #{ @db.stats('num_keys') }).range(0, w);

vis.add(pv.Layout.Stack)
    .orient('left-top')
    .left(10)
    .layers(data)
    .x(10)
    .y(function(d) { return scale(d.value); })
  .layer.add(pv.Bar)
    .fillStyle(function(d) { return colors[d.label]; })
    .height(20)
  .anchor('bottom')
    .add(pv.Label)
    .top(46)
    .text(function(d) { return d.label; });

vis.render();
JAVASCRIPT
    end
end
%>
