<%
javascript_for(:d3)

data = {}
['num_keys', 'num_tags', 'relation_types'].each do |key|
    data[key] = @db.execute("SELECT udate, value FROM history.history_stats WHERE key='#{key}' ORDER BY udate").map do |row|
        [ row['udate'], row['value'].to_i ]
    end
end
@context[:data] = data
%>
<div>
    <div>
        <h1><%= h(t.reports.historic_development.name) %></h1>
        <p><%= h(t.reports.historic_development.intro) %></p>
    </div>
</div>
<div id="tabs">
    <ul>
        <li><a href="#num_keys"><%= h(t.osm.keys) %></a></li>
        <li><a href="#num_tags"><%= h(t.osm.tags) %></a></li>
        <li><a href="#relation_types"><%= h(t.osm.relation_types) %></a></li>
    </ul>
    <div id="num_keys">
        <h2><%= h(t.reports.historic_development.keys.title) %></h2>
        <div class="canvas" id="canvas_num_keys"></div>
    </div>
    <div id="num_tags">
        <h2><%= h(t.reports.historic_development.tags.title) %></h2>
        <div class="canvas" id="canvas_num_tags"></div>
    </div>
    <div id="relation_types">
        <h2><%= h(t.reports.historic_development.relation_types.title) %></h2>
        <div class="canvas" id="canvas_relation_types"></div>
    </div>
</div>
