<h1>Reports</h1>

<p>Reports show the data from different perspectives. They often bring
together the data from several sources in interesting ways.</p>

<table>
    <% Report.each do |report| %>
        <tr>
            <% %w(db wiki).each do |source| %>
                <td>
                    <% if report.sources[source] %>
                        <img src="/img/sources/<%= source %>.16.png" alt="<%= source.capitalize %>" title="<%= source.capitalize %>" width="16" height="16"/>
                    <% end %>
                </td>
            <% end %>
            <td style="padding: 2px;"><a href="<%= report.url %>"><%= report.title %></a></td>
        </tr>
    <% end %>
</table>
