<div class="pre">
    <h1 class="section"><%= t.taginfo.reports %></h1>
    <%= t.pages.reports.index.intro %>
</div>
<div class="box resize">
    <h2>List of all reports</h2>
    <table class="list">
        <tr><th class="tc" colspan="<%= Source.visible.size %>"/><%= t.pages.reports.index.data_sources %></th><th class="tl">Report</th></tr>
    <% Report.each_with_index do |report, n| c = (n%2!=0) ? ' even' : '' %>
        <tr>
    <% Source.visible.each do |source| %>
            <td class="tc<%= c %>" width="45"><%= source.link_img if report.uses_source? source.id %></td>
    <% end %>
            <td class="tl<%= c %>"><a href="<%= report.url %>"><%= t.reports[report.name].name %></a></td>
        </tr>
    <% end %>
    </table>
</div>
<% javascript do
    JQuery.ready do
        JS.raw(%Q{ resize_wrapper(); })
    end
end
%>
