<div class="pre ui-helper-clearfix">
    <div id="pre-text">
        <h1 class="section"><%= h(t.taginfo.reports) %></h1>
        <p><%= h(t.pages.reports.intro) %></p>
    </div>
</div>
<div class="box resize">
    <h2><%= h(t.pages.reports.list) %></h2>
    <ul class="reportlist">
<% Report.each_visible_with_index do |report, n| c = (n%2!=0) ? ' even' : '' %>
        <li><a href="<%= build_link(report.url) %>"><%= h(t.reports[report.name].name) %></a></li>
<% end %>
    </ul>
</div>
