<%
    languages = @db.execute('SELECT language FROM wiki_languages ORDER by language').map do |row|
        [row['language'], ::Language[row['language']].native_name]
    end

    lang_lookup = {}
    languages.each_with_index do |lang, idx|
        lang_lookup[lang[0]] = idx + 1
    end

    @context[:languages] = languages
    @context[:lang_to_idx] = lang_lookup
%>
<div>
    <div>
        <h1><%= h(t.reports.language_comparison_table_for_keys_in_the_wiki.name) %></h1>
        <p><%= h(t.reports.language_comparison_table_for_keys_in_the_wiki.intro) %></p>
    </div>
</div>
<div class="box">
    <div id="grid-keys"></div>
    <table>
        <tr><td><img width="16" height="16" src="/img/sources/wiki/wiki-t.png" alt="[t]"/></td><td><%= h(t.reports.language_comparison_table_for_keys_in_the_wiki.icons.template) %></td></tr>
        <tr><td><img width="16" height="16" src="/img/sources/wiki/wiki-e.png" alt="[e]"/></td><td><%= h(t.reports.language_comparison_table_for_keys_in_the_wiki.icons.error)    %></td></tr>
        <tr><td><img width="16" height="16" src="/img/sources/wiki/wiki-p.png" alt="[p]"/></td><td><%= h(t.reports.language_comparison_table_for_keys_in_the_wiki.icons.page)     %></td></tr>
        <tr><td><img width="16" height="16" src="/img/sources/wiki/wiki-r.png" alt="[r]"/></td><td><%= h(t.reports.language_comparison_table_for_keys_in_the_wiki.icons.redirect) %></td></tr>
    </table>
</div>
