<div class="pre">
    <h1><%= t.reports.language_comparison_table_for_keys_in_the_wiki.name %></h1>
    <%= t.reports.language_comparison_table_for_keys_in_the_wiki.intro %>
</div>
<div class="box resize">
    <table id="grid-keys">
    </table>
    <table class="boxpre">
        <tr><td><img width="16" height="16" src="/img/sources/wiki/wiki-t.png" alt="[t]"/></td><td><%= t.reports.language_comparison_table_for_keys_in_the_wiki.icons.template %></td></tr>
        <tr><td><img width="16" height="16" src="/img/sources/wiki/wiki-e.png" alt="[e]"/></td><td><%= t.reports.language_comparison_table_for_keys_in_the_wiki.icons.error    %></td></tr>
        <tr><td><img width="16" height="16" src="/img/sources/wiki/wiki-p.png" alt="[p]"/></td><td><%= t.reports.language_comparison_table_for_keys_in_the_wiki.icons.page     %></td></tr>
        <tr><td><img width="16" height="16" src="/img/sources/wiki/wiki-r.png" alt="[r]"/></td><td><%= t.reports.language_comparison_table_for_keys_in_the_wiki.icons.redirect %></td></tr>
    </table>
</div>
<% javascript "#{ r18n.locale.code }/reports/language_comparison_table_for_keys_in_the_wiki" %>
