<%
    @languages = @db.execute('SELECT language FROM wiki_languages ORDER by language').map do |row|
        row['language']
    end

    lang_lookup = Hash.new
    @languages.each_with_index do |lang, idx|
        lang_lookup[lang] = idx + 1
    end
    @languages_lookup = @languages.map{ |lang| "'#{lang}': #{lang_lookup[lang]}" }.join(', ')
%>
<h1><%= @title %></h1>

<p>This table shows all tag keys for which there are wiki pages available and in what languages they are.</p>

<table id="grid-keys">
</table>

<p></p>

<table>
    <tr><td><img src="/img/sources/wiki/wiki-t.png" alt="[t]"/></td><td>Page in wiki available and contains standard template.</td></tr>
    <tr><td><img src="/img/sources/wiki/wiki-e.png" alt="[e]"/></td><td>Page in wiki available and contains standard template, but couldn't be parsed.</td></tr>
    <tr><td><img src="/img/sources/wiki/wiki-p.png" alt="[p]"/></td><td>Page in wiki available but doesn't contain standard template.</td></tr>
    <tr><td><img src="/img/sources/wiki/wiki-r.png" alt="[r]"/></td><td>Page is a redirect.</td></tr>
</table>

<script type="text/javascript">
    jQuery(document).ready(function() {
        var lang_to_idx = {
            <%= @languages_lookup %>
        };
        jQuery('#grid-keys').flexigrid({
            url: '/api/2/wiki/keys',
            method: 'GET',
            dataType: 'json',
            colModel: [
                { display: '<br/>Key', name: 'key', width: 200, sortable: true },
                <% @languages.each do |lang| %>
                { display: '<%= ::Language[lang].native_name %><br /><span class="lang" style="margin-top: 2px;"><%= lang %></span>', name: '<%= lang %>', align: 'center', width: 60, sortable: false },
                <% end %>
            ],
            searchitems: [
                { display: 'Key', name: 'key' }
            ],
            sortname: 'key',
            sortorder: 'asc',
            showToggleBtn: false,
            showTableToggleBtn: false,
            usepager: true,
            useRp: true,
            rpOptions: [10,15,20,25,50,100],
            rp: 15,
            height: 400,
            preProcess: function(data) {
                return {
                    total: data.total,
                    page: data.page,
                    rows: jQuery.map(data.data, function(row, i) {
                        d = [link_to_key(row.key) <%= @languages.map{ ", ''"}.join() %>];
                        for (var lang in row.lang) {
                            ptype = row.lang[lang];
                            d[lang_to_idx[lang]] = '<img src="/img/sources/wiki/wiki-' + ptype + '.png" alt="[' + ptype + ']"/>';
                        }
                        return { 'cell': d };
                    })
                };
            }
        });
    });
</script>
