<%
    @filter_type = BCP47.get_filter(params[:filter])
    @sel = Hash.new('')
    @sel[@filter_type] = ' selected="selected"'
%>
<div>
    <div>
        <h1><%= h(t.reports.name_tags.name) %></h1>
        <%= t.reports.name_tags.intro %>
    </div>
</div>
<div id="tabs">
    <ul>
        <li><a href="#overview"><%= h(t.reports.name_tags.overview.tab) %></a></li>
        <li><a href="#bcp47"><%= h(t.reports.name_tags.bcp47.tab) %></a></li>
    </ul>
    <div id="overview">
        <h2><%= h(t.reports.name_tags.overview.title) %></h2>
        <div><p>Tag keys containing "name".</p></div>
        <div id="grid-name"></div>
    </div>
    <div id="bcp47">
        <h2><%= h(t.reports.name_tags.bcp47.title) %></h2>
        <div>
            <%= t.reports.name_tags.bcp47.intro %>
            <form id="subtag-filter-form">
                <label for="subtag-filter"><%= h(t.reports.name_tags.bcp47.filter.label) %>:</label>
                <select id="subtag-filter" name="subtag-filter">
                    <option value="all"<%= @sel[''] %>><%= t.reports.name_tags.bcp47.filter.all %></option>
<% BCP47::SUBTAG_TYPES.each do |type| %>
                    <option value="<%= type %>"<%= @sel[type] %>><%= t.reports.name_tags.bcp47.filter[type] %></option>
<% end %>
                </select>
            </form>
        </div>
        <div id="grid-bcp47-subtags"></div>
    </div>
</div>
