<%
@context[:keys] = @db.select("SELECT DISTINCT key FROM wiki.wikipages WHERE value IS NULL AND image IN (SELECT image FROM wiki.wiki_images) ORDER BY key").execute().map{ |row| row['key'] }

@css = <<'CSS'
h2 {
    margin: 12px 0 0 6px !important;
}

table.wiki-images {
    border-spacing: 4px;
}

table.wiki-images td.key {
    background-color: #ffffff;
    padding: 0 10px 0 18px;
    text-indent: -8px;
}

table.wiki-images td.images {
    padding: 0;
}

table.wiki-images td.images div.langimg {
    position:relative;
    width: 50px;
    height: 50px;
    float: left;
    z-index: 0;
    margin-right: 4px;
}

table.wiki-images td.images div div {
    position: absolute;
    bottom: 0px;
    width: 50px;
    height: 12px;
    text-align: center;
    font-size: 0.8rem;
    line-height: 1;
    z-index: 2;
    background-color: #202020;
    color: #ffffff;
}

table.wiki-images td.images div img {
    z-index: 1;
    margin: 0 auto;
    display: block;
    max-width: 50px;
    max-height: 50px;
    top: 0;
}
CSS
%>
<div>
    <div>
        <h1><%= h(t.reports.wiki_images.name) %></h1>
        <p><%= h(t.reports.wiki_images.intro) %></p>
    </div>
</div>
<div class="box">
    <table class="wiki-images"><tr><td colspan="2">
<%  lastkey = ''
    @db.select("SELECT p.key, p.title, p.lang, i.width, i.height, i.image_url, i.thumb_url_prefix, i.thumb_url_suffix FROM wiki.wikipages p, wiki.wiki_images i WHERE i.image=p.image AND p.value IS NULL ORDER BY p.key, p.lang").execute() do |row| %>
<%  if lastkey[0] != row['key'][0]
      lastkey = row['key'] %>
    </td></tr></table>
    <h2><%= row['key'][0] %></h2>
    <table class="wiki-images"><tr><td class="key"><a class="keyimg" href=""></a></td><td class="images">
<%  elsif lastkey != row['key']
      lastkey = row['key'] %>
    </td></tr><tr><td class="key"><a class="keyimg" href=""></a></td><td class="images">
<% end %>
    <div class="langimg">
        <div><%= row['lang'] %></div>
<%  imagesize = 50
    if row['width'].to_i <= imagesize && row['height'].to_i <= imagesize
        src = row['image_url']
    elsif row['thumb_url_prefix'].nil? || row['thumb_url_suffix'].nil?
        src = nil
    else
        src = row['thumb_url_prefix'] + imagesize.to_s + row['thumb_url_suffix']
    end
    if src
        img = '<img src="' + src + '"/>'
    else
        img = 'Broken image'
    end
%>
        <a href="https://wiki.openstreetmap.org/wiki/<%= row['title'] %>"><%= img %></a>
    </div>
<% end %>
    </td></tr></table>
</div>
