<%
@title = 'Wiki problems'
@section = 'taginfo'
@section_title = t.taginfo.meta

@stats_reason = @db.select("SELECT reason, count(*) AS count FROM wiki.problems GROUP BY reason ORDER BY reason").execute
@stats_lang   = @db.select("SELECT lang,   count(*) AS count FROM wiki.problems GROUP BY lang   ORDER BY lang").execute
%>
<div>
    <div>
        <h1><a href="<%= build_link("/sources/#{ @source.id }") %>"><%= @source.name %></a>: <%= h(t.reports.wiki_problems.name) %></h1>
        <p><%= h(t.reports.wiki_problems.intro) %></p>
        <p>For a description of the problems reasons see the
           <a href="https://wiki.openstreetmap.org/wiki/Taginfo/Parsing_the_Wiki">OSM wiki</a>.</p>
    </div>
</div>
<div id="tabs" lang="en" dir="ltr">
    <ul class="no-print">
        <li><a href="#list">Problem list</a></li>
        <li><a href="#stats-reason">Stats (by reason)</a></li>
        <li><a href="#stats-lang">Stats (by language)</a></li>
    </ul>
    <div id="list">
        <div id="grid-wiki-problems"></div>
    </div>
    <div id="stats-reason">
        <table class="list" style="float: left; margin-right: 20px;">
            <tr><th>Count</th><th>Reason</th></tr>
<% @stats_reason.each do |row| %>
            <tr><td style="text-align: right"><%= row['count'] %></td><td><%= row['reason'] %></td></tr>
<% end %>
        </table>
        <table class="list">
            <tr><th>Count</th><th>Reason</th></tr>
<% @stats_reason.sort{ |a, b| b['count'] <=> a['count'] }.each do |row| %>
            <tr><td style="text-align: right"><%= row['count'] %></td><td><%= row['reason'] %></td></tr>
<% end %>
        </table>
    </div>
    <div id="stats-lang">
        <table class="list" style="float: left; margin-right: 20px;">
            <tr><th>Count</th><th>Language</th></tr>
<% @stats_lang.each do |row| %>
            <tr><td style="text-align: right"><%= row['count'] %></td><td><%= row['lang'] %></td></tr>
<% end %>
        </table>
        <table class="list">
            <tr><th>Count</th><th>Language</th></tr>
<% @stats_lang.sort{ |a, b| b['count'] <=> a['count'] }.each do |row| %>
            <tr><td style="text-align: right"><%= row['count'] %></td><td><%= row['lang'] %></td></tr>
<% end %>
        </table>
    </div>
</div>
