<%
    osm = @trans.t.osm
    misc = @trans.t.misc
    page = @trans.t.pages.key
 %>
var create_flexigrid_for = {
    overview: function(key, filter_type) {
        create_flexigrid('grid-overview', {
            url: '/api/4/key/stats?key=' + encodeURIComponent(key),
            colModel: [
                { display: '<%= misc.object_type %>', name: 'type', width: 100, sortable: true },
                { display: '<%= page.number_objects %>', name: 'count', width: 260, sortable: true, align: 'center' },
                { display: '<%= page.number_values %>', name: 'value', width: 140, sortable: true, align: 'right' }
            ],
            usepager: false,
            useRp: false,
            preProcess: function(data) {
                return {
                    total: 4,
                    page: 1,
                    rows: jQuery.map(data.data, function(row, i) {
                        return { 'cell': [
                            print_image(row.type) + ' ' + texts.osm[row.type],
                            print_value_with_percent(row.count, row.count_fraction),
                            print_with_ts(row.values)
                        ]};
                    })
                };
            }
        });
    },
    values: function(key, filter_type, lang) {
        create_flexigrid('grid-values', {
            url: '/api/4/key/values?key=' + encodeURIComponent(key) + '&filter=' + encodeURIComponent(filter_type) + '&lang=' + encodeURIComponent(lang),
            colModel: [
                { display: '<%= osm.value %>', name: 'value', width: 200, sortable: true },
                { display: '<%= misc.count %>', name: 'count', width: 240, sortable: true, align: 'center' },
                { display: '<span title="<%= page.tag_description_from_wiki %>"><%= misc.description %></span>', name: 'description', width: 600, sortable: false, align: 'left' }
            ],
            searchitems: [
                { display: '<%= osm.value %>', name: 'value' }
            ],
            sortname: 'count',
            sortorder: 'desc',
            preProcess: function(data) {
                data.rows = jQuery.map(data.data, function(row, i) {
                    return { 'cell': [
                        hover_expand(link_to_value(key, row.value)),
                        print_value_with_percent(row.count, row.fraction),
                        row.description
                    ] };
                });
                delete data.data;
                return data;
            }
        });
    },
    combinations: function(key, filter_type) {
        create_flexigrid('grid-keys', {
            url: '/api/4/key/combinations?key=' + encodeURIComponent(key) + '&filter=' + encodeURIComponent(filter_type),
            colModel: [
                { display: '<span title="<%= page.other_keys_used.to_count_tooltip %>"><%= misc.count %> &rarr;</span>', name: 'to_count', width: 320, sortable: true, align: 'center' },
                { display: '<span title="<%= page.other_keys_used.other_key_tooltip %>"><%= page.other_keys_used.other %></span>', name: 'other_key', width: 340, sortable: true },
                { display: '<span title="<%= page.other_keys_used.from_count_tooltip %>">&rarr; <%= misc.count %></span>', name: 'from_count', width: 320, sortable: true, align: 'center' }
            ],
            searchitems: [
                { display: '<%= page.other_keys_used.other %>', name: 'other_key' }
            ],
            sortname: 'to_count',
            sortorder: 'desc',
            preProcess: function(data) {
                data.rows = jQuery.map(data.data, function(row, i) {
                    return { 'cell': [
                        print_value_with_percent(row.together_count, row.to_fraction),
                        link_to_key(row.other_key),
                        print_value_with_percent(row.together_count, row.from_fraction),
                    ] };
                });
                return data;
            }
        });
    },
    wiki: function(key, filter_type) {
        create_flexigrid('grid-wiki', {
            url: '/api/4/key/wiki_pages?key=' + encodeURIComponent(key),
            colModel: [
                { display: '<%= misc.language %>', name: 'lang', width: 150, sortable: false },
                { display: '<%= page.wiki_pages.wiki_page %>', name: 'title', width: 160, sortable: false, align: 'right' },
                { display: '<%= misc.description %>', name: 'description', width: 400, sortable: false },
                { display: '<%= misc.image %>', name: 'image', width: 120, sortable: false },
                { display: '<%= osm.objects %>', name: 'objects', width:  80, sortable: false },
                { display: '<%= page.wiki_pages.implied_tags %>', name: 'tags_implied', width: 120, sortable: false },
                { display: '<%= page.wiki_pages.combined_tags %>', name: 'tags_combination', width: 120, sortable: false },
                { display: '<%= page.wiki_pages.linked_tags %>', name: 'tags_linked', width: 220, sortable: false }
            ],
            usepager: false,
            useRp: false,
            preProcess: function(data) {
                return {
                    total: data.size,
                    page: 1,
                    rows: jQuery.map(data, function(row, i) {
                        return { 'cell': [
                            print_language(row.lang, row.language, row.language_en),
                            print_wiki_link(row.title),
                            row.description,
                            row.image == '' ? empty('<%= misc.no_image %>') : hover_expand(print_wiki_link(row.image)),
                            print_type_icon('node',     row.on_node) + 
                            print_type_icon('way',      row.on_way) + 
                            print_type_icon('area',     row.on_area) + 
                            print_type_icon('relation', row.on_relation),
                            print_key_or_tag_list(row.tags_implies),
                            print_key_or_tag_list(row.tags_combination),
                            print_key_or_tag_list(row.tags_linked)
                        ]};
                    })
                };
            }
        });
    },
    josm: function(key, filter_type) {
        create_flexigrid('grid-josm', {
            url: '/api/4/key/josm/style/rules?style=standard&key=' + encodeURIComponent(key),
            colModel: [
                { display: '<%= osm.value %>', name: 'value', width: 400, sortable: true },
                { display: '<%= misc.icon %>', name: 'icon', width: 40, sortable: false, align: 'center' },
                { display: '<%= misc.line %>', name: 'line', width: 40, sortable: false, align: 'center' },
                { display: '<%= misc.area %>', name: 'area', width: 40, sortable: false, align: 'center' }
            ],
            sortname: 'value',
            sortorder: 'asc',
            preProcess: function(data) {
                data.rows = jQuery.map(data.data, function(row, i) {
                    return { 'cell': [
                        print_josm_value(row.key, row.value, row.value_bool),
                        print_josm_icon('standard', row.icon),
                        print_josm_line(row.line_width, row.line_color),
                        print_josm_area(row.area_color)
                    ] };
                });
                return data;
            }
        });
    }
};

function create_chart(params) {
    var y = 0;
    params.data.forEach(function(d) {
        d['y'] = y;
        y += d['count'];
    });

    var scale = d3.scale.linear()
                    .domain([0, params.max])
                    .range([0, params.height]);
        
    var color = d3.scale.ordinal()
                    .range(d3_colors());

    var chart = d3.select('#canvas-values').append('svg')
                    .attr("width", params.width)
                    .attr("height", params.height);

    chart.selectAll("rect")
        .data(params.data)
        .enter()
        .append("svg:a")
            .attr('xlink:href', function(d) { return url_for_tag(params.key, d['value']); })
            .attr('transform', function(d) { return 'translate(10, ' + scale(d['y']) + ')'; })
            .call(function(c) {
                c.append("rect")
                    .attr('width', 20)
                    .attr('height', function(d) { return scale(d['count']); })
                    .style('fill', function(d, i) { return color(i); });
            })
            .append("text")
                .attr('x', 25)
                .attr('y', function(d) { return scale(d['count'] / 2); })
                .attr('dy', '0.5em')
                .text(function(d) { return d['value']; });

}

function page_init() {
    jQuery('#josm_button').bind('click', function() {
        jQuery('#josmiframe')[0].src = jQuery('#josm_button')[0].href;
        return false;
    });

    jQuery('#filter').bind('change', function() {
        var value = this.value;

        var qs = jQuery.getQueryString;
        qs['filter'] = value;

        window.location.search = jQuery.param(qs);
    });

    page_init2();
}
