<%
    osm = @trans.t.osm
    table = @trans.t.pages.keys.table
 %>
function page_init() {
    create_flexigrid('grid-keys', {
        url: '/api/2/db/keys?include=prevalent_values',
        colModel: [
            { display: '<%= osm.key %>', name: 'key', width: 160, sortable: true },
            { display: '<span title="<%= table.total_tooltip %>"><img src="/img/types/all.16.png" width="16" height="16" alt=""/> <%= table.total %></span>', name: 'count_all', width: 200, sortable: true, align: 'center' },
            { display: '<span title="<%= table.nodes_tooltip %>"><img src="/img/types/node.16.png" width="16" height="16" alt=""/> <%= osm.nodes %></span>', name: 'count_nodes', width: 220, sortable: true, align: 'center' },
            { display: '<span title="<%= table.ways_tooltip %>"><img src="/img/types/way.16.png" width="16" height="16" alt=""/> <%= osm.ways %></span>', name: 'count_ways', width: 220, sortable: true, align: 'center' },
            { display: '<span title="<%= table.relations_tooltip %>"><img src="/img/types/relation.16.png" width="16" height="16" alt=""/> <%= osm.relations %></span>', name: 'count_relations',  width: 220, sortable: true, align: 'center' },
            { display: '<span title="<%= table.users_tooltip %>"><%= osm.users %></span>', name: 'users_all', width: 44, sortable: true, align: 'right' },
            { display: '<img src="/img/sources/wiki.16.png" alt="Wiki" width="16" height="16" title="<%= table.in_wiki_tooltip %>"/>', name: 'in_wiki', width: 20, sortable: true, align: 'center' },
            { display: '<img src="/img/sources/josm.16.png" alt="JOSM" width="16" height="16" title="<%= table.in_josm_tooltip %>"/>', name: 'in_josm', width: 20, sortable: true, align: 'center' },
            { display: '<span title="<%= table.values_tooltip %>"><%= osm.values %></span>', name: 'values_all', width: 70, sortable: true, align: 'right' },
            { display: '<span title="<%= table.prevalent_values_tooltip %>"><%= table.prevalent_values %></span>', name: 'prevalent_values', width: 500, sortable: true }
        ],
        searchitems: [
            { display: '<%= osm.key %>', name: 'key' }
        ],
        sortname: 'count_all',
        sortorder: 'desc',
        preProcess: function(data) {
            data.rows = jQuery.map(data.data, function(row, i) {
                return { 'cell': [
                    link_to_key(row.key),
                    print_value_with_percent(row.count_all,       row.count_all_fraction),
                    print_value_with_percent(row.count_nodes,     row.count_nodes_fraction),
                    print_value_with_percent(row.count_ways,      row.count_ways_fraction),
                    print_value_with_percent(row.count_relations, row.count_relations_fraction),
                    print_with_ts(row.users_all),
                    row.in_wiki ? '&#x2714;' : '-',
                    row.in_josm ? '&#x2714;' : '-',
                    print_with_ts(row.values_all),
                    print_prevalent_value_list(row.key, row.prevalent_values)
                ] };
            });
            return data;
        }
    });
}
