<%
    osm = @trans.t.osm
    misc = @trans.t.misc
 %>
function page_init() {
    create_flexigrid('grid-keys', {
        url: '/api/4/keys/all?include=prevalent_values',
        colModel: [
            { display: '<%= h(osm.key) %>', name: 'key', width: 160, sortable: true },
            { display: '<span title="<%= h(misc.objects_tooltip) %>"><img src="/img/types/all.svg" width="16" height="16" alt=""/> <%= h(osm.objects) %></span>', name: 'count_all', width: 160, sortable: true, align: 'center' },
            { display: '<span title="<%= h(misc.nodes_tooltip) %>"><img src="/img/types/node.svg" width="16" height="16" alt=""/> <%= h(osm.nodes) %></span>', name: 'count_nodes', width: 250, sortable: true, align: 'center' },
            { display: '<span title="<%= h(misc.ways_tooltip) %>"><img src="/img/types/way.svg" width="16" height="16" alt=""/> <%= h(osm.ways) %></span>', name: 'count_ways', width: 250, sortable: true, align: 'center' },
            { display: '<span title="<%= h(misc.relations_tooltip) %>"><img src="/img/types/relation.svg" width="16" height="16" alt=""/> <%= h(osm.relations) %></span>', name: 'count_relations',  width: 250, sortable: true, align: 'center' },
            { display: '<span title="<%= h(misc.users_tooltip) %>"><%= h(osm.users) %></span>', name: 'users_all', width: 44, sortable: true, align: 'right' },
            { display: '<span title="<%= h(misc.in_wiki_tooltip) %>"><%= h(@trans.t.taginfo.wiki) %></span>', name: 'in_wiki', width: 20, sortable: true, align: 'center' },
            { display: '<%= h(@trans.t.taginfo.projects) %>', name: 'projects', width: 40, sortable: true, align: 'right' },
            { display: '<span title="<%= h(misc.values_tooltip) %>"><%= h(osm.values) %></span>', name: 'values_all', width: 70, sortable: true, align: 'right' },
            { display: '<span title="<%= h(misc.prevalent_values_tooltip) %>"><%= h(misc.prevalent_values) %></span>', name: 'prevalent_values', width: 500, sortable: true }
        ],
        searchitems: [
            { display: '<%= h(osm.key) %>', name: 'key' }
        ],
        sortname: 'count_all',
        sortorder: 'desc',
        preProcess: function(data) {
            data.rows = data.data.map(function(row) {
                return { 'cell': [
                    link_to_key(row.key),
                    fmt_value_with_percent(row.count_all,       row.count_all_fraction),
                    fmt_value_with_percent(row.count_nodes,     row.count_nodes_fraction),
                    fmt_value_with_percent(row.count_ways,      row.count_ways_fraction),
                    fmt_value_with_percent(row.count_relations, row.count_relations_fraction),
                    fmt_with_ts(row.users_all),
                    link_to_key_with_tab(row.key, 'wiki', fmt_checkmark(row.in_wiki)),
                    link_to_key_with_tab(row.key, 'projects', html_escape(row.projects)),
                    fmt_with_ts(row.values_all),
                    fmt_prevalent_value_list(row.key, row.prevalent_values)
                ] };
            });
            return data;
        }
    });
}
