<%
    osm = @trans.t.osm
    misc = @trans.t.misc
 %>
function page_init() {
    create_flexigrid('grid-tags', {
        url: '/api/4/tags/popular',
        colModel: [
            { display: '<%= h(osm.tag) %>', name: 'tag', width: 300, sortable: true },
            { display: '<span title="<%= h(misc.objects_tooltip) %>"><img src="/img/types/all.svg" width="16" height="16" alt=""/> <%= h(osm.objects) %></span>', name: 'count_all', width: 220, sortable: true, align: 'center' },
            { display: '<span title="<%= h(misc.nodes_tooltip) %>"><img src="/img/types/node.svg" width="16" height="16" alt=""/> <%= h(osm.nodes) %></span>', name: 'count_nodes', width: 220, sortable: true, align: 'center' },
            { display: '<span title="<%= h(misc.ways_tooltip) %>"><img src="/img/types/way.svg" width="16" height="16" alt=""/> <%= h(osm.ways) %></span>', name: 'count_ways', width: 220, sortable: true, align: 'center' },
            { display: '<span title="<%= h(misc.relations_tooltip) %>"><img src="/img/types/relation.svg" width="16" height="16" alt=""/> <%= h(osm.relations) %></span>', name: 'count_relations',  width: 220, sortable: true, align: 'center' },
            { display: '<span title="<%= h(misc.in_wiki_tooltip) %>"><%= h(@trans.t.taginfo.wiki) %></span>', name: 'in_wiki', width: 20, sortable: true, align: 'center' },
            { display: '<%= h(@trans.t.taginfo.projects) %>', name: 'projects', width: 40, sortable: true, align: 'right' }
        ],
        searchitems: [
            { display: '<%= h(osm.tag) %>', name: 'tag' }
        ],
        sortname: 'count_all',
        sortorder: 'desc',
        preProcess: function(data) {
            data.rows = data.data.map(function(row) {
                return { 'cell': [
                    hover_expand(link_to_tag(row.key, row.value, {}, { 'class': 'pref' })),
                    fmt_value_with_percent(row.count_all,       row.count_all_fraction),
                    fmt_value_with_percent(row.count_nodes,     row.count_nodes_fraction),
                    fmt_value_with_percent(row.count_ways,      row.count_ways_fraction),
                    fmt_value_with_percent(row.count_relations, row.count_relations_fraction),
                    link_to_tag_with_tab(row.key, row.value, 'wiki', fmt_checkmark(row.in_wiki)),
                    link_to_tag_with_tab(row.key, row.value, 'projects', html_escape(row.projects))
                ] };
            });
            return data;
        }
    });
}
