<div class="fbox">
    <h2><%= h(t.pages.sources.statistics) %></h2>
    <div>
        <table class="desc">
            <tr><th>Discardable tags:</th><td><%= @db.stats('discardable_tags') %></td></tr>
            <tr><th>Deprecated keys/tags in iD:</th><td><%= @db.stats('deprecated_tags_id') %></td></tr>
        </table>
    </div>
</div>
<div class="fbox">
    <h2><%= h(t.reports.discardable_tags.name) %></h2>
    <div>
        <p><%= h(t.reports.discardable_tags.intro) %></p>
        <p><a href="<%= build_link('/sources/sw/discardable_tags') %>">More...</a></p>
    </div>
</div>
