<h1><%= t.taginfo.sources %></h1>

<%= t.pages.sources.index.intro %>

<table class="list">
    <tr>
        <th><%= t.taginfo.source %></th><th><%= t.pages.sources.index.data_until %>*</th><th><%= t.pages.sources.index.last_update_run %></th>
    </tr>
<% Source.visible.each do |source| %>
    <tr>
        <td><%= source.name %>
        <td><%= source.data_until %></td>
        <td><%= source.update_start + ' ' + t.pages.sources.index.to + ' ' + source.update_end %></td>
    </tr>
<% end %>
</table>

<p style="font-size: 80%">* <%= t.pages.sources.index.data_until_explanation %></p>

<%= t.pages.sources.index.info %>
