<h1><%= t.taginfo.sources %></h1>

<%= t.pages.sources.index.intro %>

<table class="list">
    <tr>
        <th></th><th><%= t.taginfo.source %></th><th><%= t.pages.sources.index.data_until %>*</th><th><%= t.pages.sources.index.last_update_run %></th><th></th>
    </tr>
    <% Source.visible.each do |source| %>
    <tr>
        <td class="border"></td>
        <td><%= source.link_img + ' ' + source.link_name %>
        <td><%= source.data_until %></td>
        <td><%= source.update_start %> to <%= source.update_end %></td>
        <td class="border"></td>
    </tr>
    <% end %>
    <tr><th colspan="5"/></tr>
</table>

<p style="font-size: 80%">* <%= t.pages.sources.index.data_until_explanation %></p>

<%= t.pages.sources.index.info %>
