<a target="_blank" title="More stats at Taginfo" href="http://taginfo.openstreetmap.de/tags?key=<%= escape(@key) %>&value=<%= escape(@value) %>"><img src="/img/taginfo.32.png" alt="Taginfo"/> Taginfo</a>
<div class="content"><table>
    <tr>
        <td><img src="/img/types/node.16.png" alt="Nodes" title="Nodes with tag <%= escape_html(@key) %>=<%= escape_html(@value) %> in database"></td>
        <td><%= @res['count_nodes'].to_i.to_s_with_ts %></td>
    </tr>
    <tr>
        <td><img src="/img/types/way.16.png" alt="Ways" title="Ways with tag <%= escape_html(@key) %>=<%= escape_html(@value) %> in database"></td>
        <td><%= @res['count_ways'].to_i.to_s_with_ts %></td>
    </tr>
    <tr>
        <td><img src="/img/types/relation.16.png" alt="Relations" title="Relations with tag <%= escape_html(@key) %>=<%= escape_html(@value) %> in database"></td>
        <td><%= @res['count_relations'].to_i.to_s_with_ts %></td>
    </tr>
</table></div>
