<%
    osm = @trans.t.osm

    @languages = @db.execute('SELECT language FROM wiki_languages ORDER by language').map do |row|
        row['language']
    end

    lang_lookup = Hash.new
    @languages.each_with_index do |lang, idx|
        lang_lookup[lang] = idx + 1
    end
    @languages_lookup = @languages.map{ |lang| "'#{lang}': #{lang_lookup[lang]}" }.join(', ')
%>
function page_init() {
    up = function() { window.location = build_link('/reports'); };
    const lang_to_idx = {
        <%= @languages_lookup %>
    };
    widgetManager.addWidget(createDynamicTable('grid-keys', {
        url: '/api/4/keys/wiki_pages',
        colModel: [
            { display: '<%= h(osm.key) %>', name: 'key', width: 160, sortable: true },
            <% @languages.each do |lang| %>
            { display: '<span class="badge lang" style="padding: 0"><%= h(lang) %></span>', name: '<%= h(lang) %>', align: 'center', widthUnit: 'em', width: <%= lang.length * 0.8 %>, sortable: false, title: '<%= ::Language[lang].native_name %>' },
            <% end %>
        ],
        searchitems: [
            { display: '<%= h(osm.key) %>', name: 'key' }
        ],
        sortname: 'key',
        sortorder: 'asc',
        preProcess: function(data) {
            return {
                total: data.total,
                page: data.page,
                rows: data.data.map(function(row) {
                    d = [hover_expand(link_to_key(row.key)) <%= @languages.map{ ", ''"}.join() %>];
                    for (let lang in row.lang) {
                        ptype = row.lang[lang];
                        d[lang_to_idx[lang]] = '<img width="16" height="16" src="/img/sources/wiki/wiki-' + ptype + '.png" alt="[' + ptype + ']"/>';
                    }
                    return { 'cell': d };
                })
            };
        }
    }));
}
