<%
    osm = @trans.t.osm

    @languages = @db.execute('SELECT language FROM wiki_languages ORDER by language').map do |row|
        row['language']
    end

    lang_lookup = Hash.new
    @languages.each_with_index do |lang, idx|
        lang_lookup[lang] = idx + 1
    end
    @languages_lookup = @languages.map{ |lang| "'#{lang}': #{lang_lookup[lang]}" }.join(', ')
%>
function page_init() {
    up = function() { window.location = '/reports'; };
    var lang_to_idx = {
        <%= @languages_lookup %>
    };
    var rp = calculate_flexigrid_rp(jQuery('div.box')) - 1;
    current_grid = 'grid-keys';
    grids[current_grid] = jQuery('#grid-keys').flexigrid(jQuery.extend({}, flexigrid_defaults, texts.flexigrid, {
        url: '/api/4/keys/wiki_pages',
        colModel: [
            { display: '<%= h(osm.key) %>', name: 'key', width: 160, sortable: true },
            <% @languages.each do |lang| %>
            { display: '<span title="<%= ::Language[lang].native_name %>" class="badge lang" style="padding: 0"><%= h(lang) %></span>', name: '<%= h(lang) %>', align: 'center', width: <%= lang.length * 9 + 1 %>, sortable: false },
            <% end %>
        ],
        searchitems: [
            { display: '<%= h(osm.key) %>', name: 'key' }
        ],
        sortname: 'key',
        sortorder: 'asc',
        showTableToggleBtn: false,
        rp: rp,
        onSuccess: function(grid) {
            grid.fixHeight();
        },
        preProcess: function(data) {
            return {
                total: data.total,
                page: data.page,
                rows: data.data.map(function(row) {
                    d = [link_to_key(row.key) <%= @languages.map{ ", ''"}.join() %>];
                    for (var lang in row.lang) {
                        ptype = row.lang[lang];
                        d[lang_to_idx[lang]] = '<img width="16" height="16" src="/img/sources/wiki/wiki-' + ptype + '.png" alt="[' + ptype + ']"/>';
                    }
                    return { 'cell': d };
                })
            };
        }
    }));
}
