<table class="boxes" width="100%">
    <tr>
        <td><h2><%= h(t.pages.about.about_taginfo.title) %></h2></td>
        <td rowspan="4" width="20"></td>
        <td><h2><%= h(t.pages.about.building_on_taginfo.title) %></h2></td>
        <td rowspan="4" width="20"></td>
        <td><h2><%= h(t.pages.about.software.title) %></h2></td>
    </tr>
    <tr>
        <td class="box">
<%= t.pages.about.about_taginfo.text %>
        </td>
        <td rowspan="3" class="box">
<%= t.pages.about.building_on_taginfo.pre %>
<%= t.pages.about.building_on_taginfo.api %>
<%= t.pages.about.building_on_taginfo.download %>
<%= t.pages.about.building_on_taginfo.license %>
        </td>
        <td rowspan="3" class="box">
<%= t.pages.about.software.text %>
        </td>
    </tr>
    <tr>
        <td><h2><%= h(t.pages.about.about_site.title) %></h2></td>
    </tr>
    <tr>
        <td class="box">
            <p><%= TaginfoConfig.get('instance.description') %></p>
            <%= TaginfoConfig.get('instance.about') %>
        </td>
    </tr>
</table>
