<div class="fboxes">
    <div class="fbox">
        <h2><%= h(t.pages.about.about_taginfo.title) %></h2>
        <div><%= t.pages.about.about_taginfo.text %></div>
    </div>
    <div class="fbox">
        <h2><%= h(t.pages.about.building_on_taginfo.title) %></h2>
        <div>
            <%= t.pages.about.building_on_taginfo.pre %>
            <%= t.pages.about.building_on_taginfo.api %>
<%  if SECTIONS[:download] %>
            <%=   t.pages.about.building_on_taginfo.download %>
<%  end %>
            <%= t.pages.about.building_on_taginfo.license %>
        </div>
    </div>
    <div class="fbox">
        <h2><%= h(t.pages.about.software.title) %></h2>
        <div><%= t.pages.about.software.text %></div>
    </div>
    <div class="fbox">
        <h2><%= h(t.pages.about.about_site.title) %></h2>
        <div>
            <p><%= @taginfo_config.get('instance.description') %></p>
            <%= @taginfo_config.get('instance.about') %>
        </div>
    </div>
</div>
