<% @css = <<'CSS'
.comparison {
    display: grid;
    grid-template-rows: repeat(6, auto);
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1px 10px;
}

.comparison a.close {
    float: right;
    display: block;
    width: 16px;
    height: 16px;
    border: 1px solid #e8e8e4;
    border-radius: 4px;
}

.comparison a.close:hover {
    border: 1px solid #d0d0d0;
}

.comparison div h2 {
    position: relative;
    clear: both;
    top: -12px;
    margin-left: 20px;
    margin-right: 20px;
}

.comparison div {
    padding: 10px;
    background-color: #e8e8e4;
    text-align: center;
}

.comparison div.title {
    border-radius: 10px 10px 0 0;
}

.comparison div.map {
    border-radius: 0 0 10px 10px;
}

table.compstat {
    margin-left: auto;
    margin-right: auto;
}

table.compstat th {
    white-space: nowrap;
    text-align: left;
    min-width: 7em;
}

table.compstat th img {
    position: relative;
    top: 3px;
    height: 16px;
    width: 16px;
}

table.compstat td {
    white-space: nowrap;
    text-align: right;
    min-width: 7em;
}
CSS
%>
<div class="pre">
    <h1 class="section"><%= h(t.taginfo.comparison) %></h1>
</div>
<% if @data.size == 0 %>
<p class="empty"><%= h(t.pages.compare.nothing_to_compare) %></p>
<% else %>
<div class="comparison">
<% @data.each_with_index do |data, num| %>
    <div class="title item<%= num %>">
        <a class="close ui-icon ui-icon-closethick" href="#"></a>
        <h2 data-key="<%= h(data[:key]) %>"
<% if data[:value] %>
    data-value="<%= h(data[:value]) %>"
<% end %>
        ></h2>
        <p lang="<%= data[:lang] %>" dir="<%= data[:dir] %>"><%= data[:desc] %></p>
    </div>
    <div class="counts item<%= num %>">
        <table class="compstat">
            <tr><th><img alt="" src="/img/types/all.svg"/> <%= h(t.osm.all) %></th><td></td></tr>
            <tr><th><img alt="" src="/img/types/node.svg"/> <%= h(t.osm.nodes) %></th><td></td></tr>
            <tr><th><img alt="" src="/img/types/way.svg"/> <%= h(t.osm.ways) %></th><td></td></tr>
            <tr><th><img alt="" src="/img/types/relation.svg"/> <%= h(t.osm.relations) %></th><td></td></tr>
        </table>
    </div>
    <div class="prevalent_values item<%= num %>">
        <p><b></b></p>
        <div></div>
    </div>
    <div class="wiki item<%= num %>">
        <p><b><%= data[:value].nil? ? h(t.pages.key.wiki_pages.title) : h(t.pages.tag.wiki_pages.title) %>:</b></p>
        <%= data[:wiki_pages].map{ |lang| '<span class="lang" title="' + ::Language[lang].native_name.to_s + '">' + lang + '</span>' }.join(' ') %>
    </div>
    <div class="projects item<%= num %>">
        <p><b><%= data[:value].nil? ? h(t.pages.key.projects.title) : h(t.pages.tag.projects.title) %>:</b> </p>
    </div>
    <div class="map item<%= num %>">
<% if data[:has_map] %>
        <div style="background-image: url(<%= @taginfo_config.get('geodistribution.background_image') %>); background-repeat: no-repeat; background-position: center 11px; background-size: <%= @img_width %>px <%= @img_height %>px; position: relative;"/>
            <% key_or_tag = data[:value].nil? ? 'key' : 'tag' %>
            <img class="map" src="/api/4/<%= key_or_tag %>/distribution/nodes?key=<%= data[:key] %><%= data[:value].nil? ? '' : ('&amp;value=' + data[:value]) %>" alt="" width="<%= @img_width %>" height="<%= @img_height %>" style="position: absolute;"/>
            <img class="map" src="/api/4/<%= key_or_tag %>/distribution/ways?key=<%= data[:key] %><%= data[:value].nil? ? '' : ('&amp;value=' + data[:value]) %>" alt="" width="<%= @img_width %>" height="<%= @img_height %>"/>
            <div class="note"><%= @taginfo_config.get('geodistribution.image_attribution') %></div>
        </div>
<% end %>
    </div>
<% end %>
<% end %>
