<% @css = <<'CSS'
table.comparison {
    border-spacing: 10px 1px;
    margin: 0 -10px 10px -10px;
}

table.comparison a.close {
    float: right;
    display: block;
    width: 16px;
    height: 16px;
    border: 1px solid #e8e8e4;
    border-radius: 4px;
}

table.comparison a.close:hover {
    border: 1px solid #d0d0d0;
}

table.comparison td.data h2 {
    position: relative;
    clear: both;
    top: -12px;
    margin-left: 20px;
    margin-right: 20px;
}

table.comparison th.data, table.comparison td.data {
    padding: 10px;
    background-color: #e8e8e4;
    vertical-align: top;
    text-align: center;
}

table.comparison td.first {
    border-radius: 10px 10px 0 0;
}

table.comparison td.last {
    border-radius: 0 0 10px 10px;
}

table.compstat {
    width: 100%;
}

table.compstat th {
    white-space: nowrap;
    text-align: left;
    width: 25%;
}

table.compstat td {
    white-space: nowrap;
    text-align: right;
    width: 25%;
}
CSS
%>
<div class="pre">
    <h1 class="section"><%= h(t.taginfo.comparison) %></h1>
</div>
<% if @data.size == 0 %>
<p class="empty"><%= h(t.pages.compare.nothing_to_compare) %></p>
<% else %>
<table class="comparison">
    <tr>
        <% @data.each_with_index do |data, num| %>
        <td class="data first item<%= num %>" style="width: <%= 100/@data.size %>%">
            <a class="close ui-icon ui-icon-closethick" href="#"></a>
            <h2></h2>
            <p lang="<%= data[:lang] %>" dir="<%= data[:dir] ? 'ltr' : 'rtl' %>"><%= data[:desc] %></p>
        </td>
        <% end %>
    </tr>
    <tr>
        <% @data.each_with_index do |data, num| %>
        <td class="data item<%= num %>">
            <table class="compstat">
                <tr>
                    <td class="spacer"></td>
                    <th><img width="16" height="16" alt="" src="/img/types/all.svg"/> <%= h(t.osm.all) %></th>
                    <td><%= data[:count_all].to_s_with_ts %></td>
                    <td class="spacer"></td>
                </tr>
                <tr>
                    <td class="spacer"></td>
                    <th><img width="16" height="16" alt="" src="/img/types/node.svg"/> <%= h(t.osm.nodes) %></th>
                    <td><%= data[:count_nodes].to_s_with_ts %></td>
                    <td class="spacer"></td>
                </tr>
                <tr>
                    <td class="spacer"></td>
                    <th><img width="16" height="16" alt="" src="/img/types/way.svg"/> <%= h(t.osm.ways) %></th>
                    <td><%= data[:count_ways].to_s_with_ts %></td>
                    <td class="spacer"></td>
                </tr>
                <tr>
                    <td class="spacer"></td>
                    <th><img width="16" height="16" alt="" src="/img/types/relation.svg"/> <%= h(t.osm.relations) %></th>
                    <td><%= data[:count_relations].to_s_with_ts %></td>
                    <td class="spacer"></td>
                </tr>
            </table>
        </td>
        <% end %>
    </tr>
    <tr>
        <% @data.each_with_index do |data, num| %>
        <td class="data item<%= num %> prevalent_values">
            <p><b></b></p>
            <div></div>
        </td>
        <% end %>
    </tr>
    <tr>
        <% @data.each_with_index do |data, num| %>
        <td class="data item<%= num %> wiki">
            <p><b><%= data[:value].nil? ? h(t.pages.key.wiki_pages.title) : h(t.pages.tag.wiki_pages.title) %>:</b></p>
            <%= data[:wiki_pages].map{ |lang| '<span class="lang" title="' + ::Language[lang].native_name.to_s + '">' + lang + '</span>' }.join(' ') %>
        </td>
        <% end %>
    </tr>
    <tr>
        <% @data.each_with_index do |data, num| %>
        <td class="data item<%= num %> map">
            <% if data[:has_map] %>
            <div style="background-image: url(<%= TaginfoConfig.get('geodistribution.background_image') %>); background-repeat: no-repeat; background-position: center 4px; background-size: <%= @img_width %>px <%= @img_height %>px; position: relative;"/>
                <% key_or_tag = data[:value].nil? ? 'key' : 'tag' %>
                <img class="map" src="/api/4/<%= key_or_tag %>/distribution/nodes?key=<%= data[:key] %><%= data[:value].nil? ? '' : ('&amp;value=' + data[:value]) %>" alt="" width="<%= @img_width %>" height="<%= @img_height %>" style="position: absolute;"/>
                <img class="map" src="/api/4/<%= key_or_tag %>/distribution/ways?key=<%= data[:key] %><%= data[:value].nil? ? '' : ('&amp;value=' + data[:value]) %>" alt="" width="<%= @img_width %>" height="<%= @img_height %>"/>
                <div class="note"><%= TaginfoConfig.get('geodistribution.image_attribution') %></div>
            </div>
            <% end %>
        </td>
        <% end %>
    </tr>
    <tr>
        <% @data.each_with_index do |data, num| %>
        <td class="data last"></td>
        <% end %>
    </tr>
</table>
<% end %>
<% javascript do
    JS.raw(<<"JAVASCRIPT")
function page_init2() {
    var data = #{ @data.to_json };
    var items = []
    jQuery.each(data, function(index, item) {
        items.push([ item.key, (item.value === null ? undefined : item.value) ]);
    });
    set_comparison_list(items);
    jQuery.each(data, function(index, item) {
        var datac = [];
        jQuery.each(data, function(i, item) {
            if (i != index) {
                datac.push([item['key'], item['value']]);
            }
        });
        jQuery('.item' + index + ' a.close').attr('href', comparison_list_url(datac));
        if (item.value) {
            jQuery('.item' + index + ' h2').html(link_to_tag(item.key, item.value));
        } else {
            jQuery('.item' + index + ' h2').html(link_to_key(item.key));
            jQuery('.item' + index + '.prevalent_values p b').html('#{ h(t.misc.prevalent_values)}:');
            jQuery('.item' + index + '.prevalent_values div').html(fmt_prevalent_value_list(item.key, item.prevalent_values));
        }
    });
    jQuery('div.prevalent_values a').tipsy({ opacity: 1, delayIn: 500, gravity: 'w' });
    jQuery('span.lang').tipsy({ opacity: 1, delayIn: 500, gravity: 'n' });
}
JAVASCRIPT
end
%>
