<div class="pre">
    <h1 class="section"><%= h(t.taginfo.comparison) %></h1>
</div>
<table class="comparison">
    <tr>
        <% @data.each_with_index do |data, num| %>
        <td class="data first item<%= num %>" style="width: <%= 100/@data.size %>%">
            <a class="close" href="#"><img src="/img/close.png" width="16" height="16"/></a>
            <h2></h2>
            <p><%= data[:desc] %></p>
        </td>
        <% end %>
    </tr>
    <tr>
        <% @data.each_with_index do |data, num| %>
        <td class="data item<%= num %>">
            <table class="compstat">
                <tr>
                    <td class="spacer"></td>
                    <th><img width="16" height="16" alt="" src="/img/types/all.16.png"/> <%= h(t.osm.all) %></th>
                    <td><%= data[:count_all].to_s_with_ts %></td>
                    <td class="spacer"></td>
                </tr>
                <tr>
                    <td class="spacer"></td>
                    <th><img width="16" height="16" alt="" src="/img/types/node.16.png"/> <%= h(t.osm.nodes) %></th>
                    <td><%= data[:count_nodes].to_s_with_ts %></td>
                    <td class="spacer"></td>
                </tr>
                <tr>
                    <td class="spacer"></td>
                    <th><img width="16" height="16" alt="" src="/img/types/way.16.png"/> <%= h(t.osm.ways) %></th>
                    <td><%= data[:count_ways].to_s_with_ts %></td>
                    <td class="spacer"></td>
                </tr>
                <tr>
                    <td class="spacer"></td>
                    <th><img width="16" height="16" alt="" src="/img/types/relation.16.png"/> <%= h(t.osm.relations) %></th>
                    <td><%= data[:count_relations].to_s_with_ts %></td>
                    <td class="spacer"></td>
                </tr>
            </table>
        </td>
        <% end %>
    </tr>
    <tr>
        <% @data.each_with_index do |data, num| %>
        <td class="data item<%= num %> prevalent_values">
            <p><b></b></p>
            <div></div>
        </td>
        <% end %>
    </tr>
    <tr>
        <% @data.each_with_index do |data, num| %>
        <td class="data item<%= num %> wiki">
            <p><b><%= data[:value].nil? ? h(t.pages.key.wiki_pages.title) : h(t.pages.tag.wiki_pages.title) %>:</b></p>
            <%= data[:wiki_pages].map{ |lang| '<span class="lang" title="' + ::Language[lang].native_name.to_s + '">' + lang + '</span>' }.join(' ') %>
        </td>
        <% end %>
    </tr>
    <tr>
        <% @data.each_with_index do |data, num| %>
        <td class="data item<%= num %> map">
            <% if data[:has_map] %>
            <div style="background-image: url(<%= TaginfoConfig.get('geodistribution.background_image') %>); background-repeat: no-repeat; background-position: center 4px; background-size: <%= @img_width %>px <%= @img_height %>px; position: relative;"/>
                <% key_or_tag = data[:value].nil? ? 'key' : 'tag' %>
                <img class="map" src="/api/4/<%= key_or_tag %>/distribution/nodes?key=<%= data[:key] %><%= data[:value].nil? ? '' : ('&amp;value=' + data[:value]) %>" alt="" width="<%= @img_width %>" height="<%= @img_height %>" style="position: absolute;"/>
                <img class="map" src="/api/4/<%= key_or_tag %>/distribution/ways?key=<%= data[:key] %><%= data[:value].nil? ? '' : ('&amp;value=' + data[:value]) %>" alt="" width="<%= @img_width %>" height="<%= @img_height %>"/>
            </div>
            <% end %>
        </td>
        <% end %>
    </tr>
    <tr>
        <% @data.each_with_index do |data, num| %>
        <td class="data last"></td>
        <% end %>
    </tr>
</table>
<% javascript do
    JS.raw(<<"JAVASCRIPT")
function page_init2() {
    var data = #{ @data.to_json };
    jQuery.each(data, function(index, item) {
        var datac = [];
        jQuery.each(data, function(i, item) {
            if (i != index) {
                datac.push([item['key'], item['value']]);
            }
        });
        jQuery('.item' + index + ' a.close').attr('href', comparison_list_url(datac));
        if (item.value) {
            jQuery('.item' + index + ' h2').html(link_to_tag(item.key, item.value));
        } else {
            jQuery('.item' + index + ' h2').html(link_to_key(item.key));
            jQuery('.item' + index + '.prevalent_values p b').html('#{ h(t.misc.prevalent_values)}:');
            jQuery('.item' + index + '.prevalent_values div').html(fmt_prevalent_value_list(item.key, item.prevalent_values));
        }
    });
    jQuery('div.prevalent_values a').tipsy({ opacity: 1, delayIn: 500, gravity: 'w' });
    jQuery('span.lang').tipsy({ opacity: 1, delayIn: 500, gravity: 'n' });
}
JAVASCRIPT
end
%>
