<h1><%= t.taginfo.download %></h1>

<%= t.pages.download.index.intro %>

<table class="list">
    <tr>
        <th></th><th></th><th><%= t.pages.download.index.file %></th><th><%= t.pages.download.index.packed %></th><th><%= t.pages.download.index.unpacked %></th><th><%= t.pages.download.index.description %></th><th></th>
    </tr>
<% Source.visible.each do |source| %>
    <tr><td class="border"></td>
        <td style="text-align: center;"><%= source.img %></td>
        <td><%= source.link_download %></td>
        <td style="text-align: right;"><%= source.dbpack %></td><td style="text-align: right;"><%= source.dbsize %></td>
        <td><%= t.source[source.id].description %></td>
    <td class="border"></td></tr>
<% end %>
    <tr><td class="border"></td>
        <td style="text-align: center;"><img src="/img/taginfo.32.png" alt="Taginfo" width="32" height="16"/></td>
        <td><a href="/download/taginfo-master.db.bz2">taginfo-master.db.bz2</a></td>
        <td style="text-align: right;"><%= File.size("../../download/taginfo-master.db.bz2").to_bytes rescue "<i>#{ t.ui.empty.unknown }</i>" %></td>
        <td style="text-align: right;"><%= File.size("../../data/taginfo-master.db").to_bytes rescue "<i>#{ t.ui.empty.unknown }</i>" %></td>
        <td><%= t.source.master.description %></td>
    <td class="border"></td></tr>
    <tr><th colspan="7"/></tr>
</table>
