<table class="boxes resize" width="100%">
    <tr>
        <td width="232" height="20"><h2><a href="/keys"><%= t.osm.keys %></a></h2></td>
        <td rowspan="4" width="20"></td>
        <td height="20"><h2><%= t.pages.index.popular_keys %></h2></td>
        <td rowspan="4" width="20"></td>
        <td width="232" height="20"><h2><a href="/reports"><%= t.taginfo.reports %></a></h2></td>
        <td rowspan="4" width="20"></td>
        <td width="232" height="20"><h2><a href="/about"><%= t.taginfo.about %></a></h2></td>
    </tr>
    <tr>
        <td class="box">
            <ul id="key_list" style="margin: 0 0 0 18px; padding: 0;"></ul>
            <p class="emphasis" style="margin: 20px 0 0 0;"><a href="/keys"><%= t.pages.index.keys.listkeys %></a></p>
        </td>
        <td rowspan="3" class="box">
            <div id="tagcloud" style="margin: 15px 0; line-height: 200%; text-align: justify; overflow: hidden;"></div>
        </td>
        <td rowspan="3" class="box">
            <p><%= t.pages.reports.intro %></p>
            <ul style="margin: 0 0 0 18px; padding: 0;">
<% Report.each do |report| %>
                <li><a href="<%= report.url %>"><%= t.reports[report.name].name %></a></li>
<% end %>
            </ul>
            <p class="emphasis" style="margin-top: 20px;"><a href="/reports"><%= t.pages.index.reports.listreports %></a></p>
        </td>
        <td class="box">
            <%= t.pages.index.about.intro %>
            <p class="emphasis" style="margin-top: 20px;"><a href="/about"><%= t.pages.index.about.more %></a></p>
        </td>
    </tr>
    <tr>
        <td height="20"><h2><a href="/tags"><%= t.osm.tags %></a></h2></td>
        <td height="20"><h2><%= t.taginfo.international %></h2></td>
    </tr>
    <tr>
        <td class="box">
            <ul id="tag_list" style="margin: 0 0 0 18px; padding: 0;"></ul>
            <p class="emphasis" style="margin: 20px 0 0 0;"><a href="/tags"><%= t.pages.index.keys.listtags %></a></p>
        </td>
        <td class="box">
            <p><%= TaginfoConfig.get('instance.description') %></p>
            <p class="emphasis" style="margin-top: 20px;"><a class="extlink" href="http://wiki.openstreetmap.org/wiki/Taginfo/Sites"><%= t.pages.index.international.see %></a></p>
        </td>
    </tr>
</table>
<% javascript 'd3/d3.v3.min' %>
<% javascript 'd3/d3.layout.cloud' %>
