<table class="boxes resize" width="100%">
    <tr>
        <td><h2><a href="/keys"><%= t.osm.keys %></a> / <a href="/tags"><%= t.osm.tags %></a></h2></td>
        <td rowspan="4" width="20"></td>
        <td width="232"><h2><a href="/reports"><%= t.taginfo.reports %></a></h2></td>
        <td rowspan="4" width="20"></td>
        <td width="232"><h2><a href="/about"><%= t.taginfo.about %></a></h2></td>
    </tr>
    <tr>
        <td rowspan="3" class="box">
            <p><%= t.pages.index.keys.intro %></p>
            <div id="tagcloud" style="margin: 15px 0; line-height: 200%; text-align: justify; overflow: hidden;"></div>
            <p class="emphasis" style="margin-top: 20px;"><a href="/keys"><%= t.pages.index.keys.listkeys %></a></p>
            <p class="emphasis"><a href="/tags"><%= t.pages.index.keys.listtags %></a></p>
        </td>
        <td rowspan="3" class="box">
            <p><%= t.pages.reports.index.intro %></p>
            <ul style="margin: 0 0 0 18px; padding: 0;">
<% Report.each do |report| %>
                <li><a href="<%= report.url %>"><%= t.reports[report.name].name %></a></li>
<% end %>
            </ul>
            <p class="emphasis" style="margin-top: 20px;"><a href="/reports"><%= t.pages.index.reports.listreports %></a></p>
        </td>
        <td class="box">
            <%= t.pages.index.about.intro %>
            <p class="emphasis" style="margin-top: 20px;"><a href="/about"><%= t.pages.index.about.more %></a></p>
        </td>
    </tr>
    <tr>
        <td><h2><%= t.taginfo.international %></h2></td>
    </tr>
    <tr>
        <td class="box">
            <p><%= TaginfoConfig.get('instance.description') %></p>
            <p class="emphasis" style="margin-top: 20px;"><a class="extlink" href="http://wiki.openstreetmap.org/wiki/Taginfo/Sites"><%= t.pages.index.international.see %></a></p>
        </td>
    </tr>
</table>
<% javascript do
    JS.raw('function tagcloud_data() { return ' + @tags.map{ |tag| [tag['key'], tagcloud_size(tag)] }.to_json.gsub(/\],/, "],\n")) + "; }\n" +
    JS.raw(<<"JAVASCRIPT")
function page_init() {
    jQuery(window).resize(resize_home);
    resize_home();
}
JAVASCRIPT
end
%>
