<div style="text-align: center;">
    <h1><img src="/img/taginfo.128.png" class="icon_large" alt="" width="128" height="63"/><br/>Taginfo</h1>

    <p><span class="button"><a href="/keys"><%= t.pages.index.buttons.show_all_keys %></a></span>
       <span class="button"><a href="/reports"><%= t.pages.index.buttons.reports %></a></span></p>

    <div style="margin: 0 10%;">
<% @tags.each do |tag| %>
        <a href="/keys/<%= tag['key'] %>" class="popkey" style="font-size: <%= tagcloud_size(tag) %>px;"><%= tag['key'] %></a>
<% end %>
    </div>
</div>
