<%
javascript_for(:d3, :d3_cloud)

# This is the maximum number of tags in the tag cloud. Javascript code will only show
# as many of them as will fit in the window.
tagcloud_number_of_keys = 300
tagcloud_number_of_tags = 30
tagcloud_number_of_relations = 30
keys = @db.select("SELECT key, scale1 FROM popular_keys ORDER BY scale1 DESC LIMIT #{ tagcloud_number_of_keys }").
    execute().
    each_with_index{ |tag, idx| tag['pos'] = (tagcloud_number_of_keys - idx) / tagcloud_number_of_keys.to_f }
tags = @db.select("SELECT skey, svalue FROM top_tags WHERE skey NOT IN ('source', 'source_ref', 'attribution') ORDER BY count_all DESC LIMIT #{ tagcloud_number_of_tags }").execute()
relations = @db.select("SELECT rtype FROM db.relation_types ORDER BY count DESC LIMIT #{ tagcloud_number_of_relations }").execute()
@context[:data] = {
    keys: keys.map{ |tag| { :text => tag['key'], :size => tagcloud_size(tag) } },
    tags: tags.map{ |entry| [ entry['skey'], entry['svalue'] ] },
    relations: relations.map{ |row| row['rtype'] }
}
%>
<div class="gboxes">
    <div class="gbox" id="gbox-keys">
        <h2><a href="<%= build_link('/keys') %>"><%= h(t.osm.keys) %></a></h2>
        <div><div id="key_list"></div></div>
        <div class="emphasis"><a href="<%= build_link('/keys') %>"><%= h(t.pages.index.keys.listkeys) %></a></div>
    </div>
    <div class="gbox" id="gbox-tags">
        <h2><a href="<%= build_link('/tags') %>"><%= h(t.osm.tags) %></a></h2>
        <div><div id="tag_list"></div></div>
        <div class="emphasis"><a href="<%= build_link('/tags') %>"><%= h(t.pages.index.tags.listtags) %></a></div>
    </div>
    <div class="gbox" id="gbox-relations">
        <h2><a href="<%= build_link('/relations') %>"><%= h(t.osm.relation_types) %></a></h2>
        <div><div id="relation_list"></div></div>
        <div class="emphasis"><a href="<%= build_link('/relations') %>"><%= h(t.pages.index.relations.listrelations) %></a></div>
    </div>
    <div class="gbox" id="gbox-tagcloud">
        <h2><%= h(t.pages.index.popular_keys) %></h2>
        <div id="tagcloud"></div>
    </div>
    <div class="gbox" id="gbox-reports">
        <h2><a href="<%= build_link('/reports') %>"><%= h(t.taginfo.reports) %></a></h2>
        <div>
            <p><%= t.pages.reports.intro %></p>
            <ul style="margin: 0 0 0 18px; padding: 0;">
<% Report.each_visible do |report| %>
                <li><a href="<%= build_link(report.url) %>"><%= h(t.reports[report.name].name) %></a></li>
<% end %>
            </ul>
            <p class="emphasis" style="margin-top: 20px;"><a href="<%= build_link('/reports') %>"><%= h(t.pages.index.reports.listreports) %></a></p>
        </div>
    </div>
    <div class="gbox" id="gbox-about">
        <h2><a href="<%= build_link('/about') %>"><%= h(t.taginfo.about) %></a></h2>
        <div>
            <%= t.pages.index.about.intro %>
            <p class="emphasis" style="margin-top: 20px;"><a href="<%= build_link('/about') %>"><%= h(t.pages.index.about.more) %></a></p>
        </div>
    </div>
    <div class="gbox" id="gbox-desc">
        <h2><%= h(t.taginfo.international) %></h2>
        <div>
            <p><%= @taginfo_config.get('instance.description') %></p>
            <p class="emphasis" style="margin-top: 20px;"><a class="extlink" href="//wiki.openstreetmap.org/wiki/Taginfo/Sites"><%= h(t.pages.index.international.see) %></a></p>
        </div>
    </div>
</div>
