<div class="pre">
    <form id="filter-form">
        <label for="filter"><%= h(t.pages.key.filter.label) %></label>
        <select id="filter" name="filter">
            <option value="all"<%=       @sel['all']       %>><%= h(t.pages.key.filter.none) %></option>
            <option value="nodes"<%=     @sel['nodes']     %>><%= h(t.pages.key.filter.nodes) %></option>
            <option value="ways"<%=      @sel['ways']      %>><%= h(t.pages.key.filter.ways) %></option>
            <option value="relations"<%= @sel['relations'] %>><%= h(t.pages.key.filter.relations) %></option>
        </select>
    </form>
    <div id="tools" class="no-print">
        <% if @count_all_values <= TaginfoConfig.get('xapi.max_results', 1000) %>
            <%= xapi_link(@filter_xapi, @key) %> <%= josm_link(@filter_xapi, @key) %>
        <% else %>
            <span class="button disabled" title="<%= h(t.pages.key.button_disabled) %>">XAPI</span>
            <span class="button disabled" title="<%= h(t.pages.key.button_disabled) %>">JOSM</span>
        <% end %>
        <% if @count_all_values <= TaginfoConfig.get('level0.max_results', 10) %>
            <%= level0_link() %>
        <% else %>
            <span class="button disabled" title="<%= h(t.pages.key.button_disabled) %>">Level0 Editor</span>
        <% end %>
        <%= turbo_link(@count_all_values, @filter_type, @key) %>
    </div>
    <h1></h1>
    <p><%= @desc %></p>
</div>
<div id="tabs">
    <ul class="no-print">
        <li><a href="#overview"><%= h(t.taginfo.overview) %></a></li>
        <li><a href="#values"><%= h(t.osm.values) %></a></li>
        <li><a href="#combinations"><%= h(t.taginfo.key_combinations) %></a></li>
        <li><a href="#map"><%= h(t.taginfo.map) %></a></li>
        <li><a href="#wiki"><%= h(t.sources.wiki.name) %></a></li>
        <li><a href="#josm"><%= h(t.sources.josm.name) %></a></li>
    </ul>
    <div id="overview">
        <div style="float: right; text-align: center; padding-left: 20px;">
            <p><%= h(t.pages.key.overview.distribution_of_values) %></p>
            <div class="canvas" id="canvas-values"></div>
        </div>
<% if @image_url %>
        <div class="wiki_image">
            <img src="<%= @image_url.sub(/^http:/, '') %>" alt=""/>
        </div>
<% end %>
        <h2><%= h(t.taginfo.overview) %></h2>
        <table id="grid-overview">
        </table>
        <p><span title="<%= h(t.pages.key.overview.no_endorsement) %>" tipsy="n"><%= t.pages.key.overview.objects_last_edited_by(@user_count.to_s_with_ts) %></span></p>
    </div>
    <div id="values">
        <h2><%= h(t.pages.key.values_used) %></h2>
        <div>
            <table id="grid-values">
            </table>
        </div>
    </div>
    <div id="combinations">
        <h2><%= h(t.pages.key.other_keys_used.title) %></h2>
        <table id="grid-keys">
        </table>
    </div>
    <div id="map">
        <h2><%= h(t.pages.key.geographic_distribution.title) %></h2>
        <% if @filter_type == 'all' %>
            <div style="background-image: url(<%= TaginfoConfig.get('geodistribution.background_image') %>); background-repeat: no-repeat; background-position: 1px 1px;"/>
                <img class="map" src="/api/4/key/distribution/nodes?key=<%= @key_uri %>" alt="" width="<%= @img_width %>" height="<%= @img_height %>" style="position: absolute;"/>
                <img class="map" src="/api/4/key/distribution/ways?key=<%= @key_uri %>" alt="" width="<%= @img_width %>" height="<%= @img_height %>"/>
            </div>
        <% elsif @filter_type == 'nodes' %>
            <div style="background-image: url(<%= TaginfoConfig.get('geodistribution.background_image') %>); background-repeat: no-repeat; background-position: 1px 1px;"/>
                <img class="map" src="/api/4/key/distribution/nodes?key=<%= @key_uri %>" alt="" width="<%= @img_width %>" height="<%= @img_height %>"/>
            </div>
        <% elsif @filter_type == 'ways' %>
            <div style="background-image: url(<%= TaginfoConfig.get('geodistribution.background_image') %>); background-repeat: no-repeat; background-position: 1px 1px;"/>
                <img class="map" src="/api/4/key/distribution/ways?key=<%= @key_uri %>" alt="" width="<%= @img_width %>" height="<%= @img_height %>"/>
            </div>
        <% elsif @filter_type == 'relations' %>
            <p class="empty"><%= h(t.pages.key.geographic_distribution.relations) %></p>
        <% end %>
    </div>
    <div id="wiki">
        <h2><%= h(t.pages.key.wiki_pages.title) %></h2>
        <% if @wiki_count > 0 %>
            <table id="grid-wiki">
            </table>
        <% else %>
            <p class="empty"><%= h(t.pages.key.wiki_pages.none_found) %></p>
            <p><a class="extlink" target="_blank" rel="nofollow" href="//wiki.openstreetmap.org/w/index.php?action=edit&title=Key:<%= @key_uri %>"><%= h(t.pages.key.wiki_pages.create) %></a></p>
        <% end %>
    </div>
    <div id="josm">
        <h2><%= h(t.pages.key.josm.title) %></h2>
<!--        <form>
            <label for="josm-style"><%= h(t.pages.key.josm.choice) %></label>
            <select id="josm-style" name="josm-style">
                <option>Standard</option>
            </select>
        </form>-->
<% if @josm_count > 0 %>
        <table id="grid-josm">
        </table>
<% else %>
        <p class="empty"><%= h(t.pages.key.josm.no_styles) %></p>
<% end %>
    </div>
</div>
<iframe id="josmiframe" name="josmiframe"></iframe>
<% javascript do
    JS.raw(<<"JAVASCRIPT")
function page_init2() {
    var filter = #{ @filter_type.to_json },
        key = #{ @key.to_json };
    jQuery('h1').html(fmt_key(key));
    jQuery('#level0_button').bind('click', function() {
        return level0_editor('#{ TaginfoConfig.get('level0.overpass_url_prefix') }', '#{ TaginfoConfig.get('level0.level0_url_prefix') }', filter, key, undefined);
    });

    init_tabs([key, filter, #{ r18n.locale.code.to_json }]);
    create_chart({
        key: key,
        width: 160,
        height: 440,
        max: #{ @count_all_values },
        data: #{ @prevalent_values.to_json() }
    });
}
JAVASCRIPT
end
%>
