<div>
    <div id="toolsmenu"></div>
    <form id="filter-form">
        <label for="filter"><%= h(t.pages.key.filter.label) %></label>
        <select id="filter" name="filter">
            <option value="all"<%=       @sel['all']       %>><%= h(t.pages.key.filter.none) %></option>
            <option value="nodes"<%=     @sel['nodes']     %>><%= h(t.pages.key.filter.nodes) %></option>
            <option value="ways"<%=      @sel['ways']      %>><%= h(t.pages.key.filter.ways) %></option>
            <option value="relations"<%= @sel['relations'] %>><%= h(t.pages.key.filter.relations) %></option>
        </select>
    </form>
    <div id="comparison-list">
        <div><%= h(t.comparison.list) %> (0 <%= h(t.comparison.items) %>)</div>
        <ul>
            <li id="comparison-list-add"><%= h(t.comparison.add_key) %></li>
            <li id="comparison-list-clear"><%= h(t.comparison.clear) %></li>
            <li id="comparison-list-compare"><%= h(t.comparison.compare) %></li>
        </ul>
    </div>
    <div id="tools" class="no-print">
        <ul>
<% if @count_all_values <= @taginfo_config.get('xapi.max_results', 1000) %>
            <li class="button"><%= xapi_link(@filter_xapi, @key) %></li>
            <li class="button"><%= josm_link(@filter_xapi, @key) %></li>
<% else %>
            <li class="button disabled" title="<%= h(t.pages.key.button_disabled) %>">XAPI</li>
            <li class="button disabled" title="<%= h(t.pages.key.button_disabled) %>">JOSM</li>
<% end %>
<% if @count_all_values <= @taginfo_config.get('level0.max_results', 10) %>
            <li class="button"><%= level0_link(@filter_type, @key) %></li>
<% else %>
            <li class="button disabled" title="<%= h(t.pages.key.button_disabled) %>">Level0 Editor</li>
<% end %>
            <li class="button"><%= turbo_link(@count_all_values, @filter_type, @key) %></li>
            <li class="button"><a target="_blank" id="osm-tag-history-button">OSM Tag History</a></li>
            <li class="button"><a target="_blank" id="ohsome-button">ohsome</a></li>
        </ul>
    </div>
    <div>
        <h1></h1>
        <p><%= @desc %></p>
    </div>
</div>
<div id="tabs">
    <ul class="no-print">
        <li><a href="#overview"><%= h(t.taginfo.overview) %></a></li>
        <li><a href="#values"><%= h(t.osm.values) %></a></li>
        <li><a href="#combinations"><%= h(t.taginfo.key_combinations) %></a></li>
        <li><a href="#similar"><%= h(t.pages.key.similar.tab) %></a></li>
<% if @sources.get(:chronology) %>
        <li><a href="#chronology"><%= h(t.taginfo.chronology) %></a></li>
<% end %>
        <li><a href="#map"><%= h(t.taginfo.map) %></a></li>
        <li><a href="#wiki"><%= h(t.sources.wiki.name) %></a></li>
        <li><a href="#projects"><%= h(t.taginfo.projects) %></a></li>
        <li><a href="#characters"><%= h(t.taginfo.characters) %></a></li>
    </ul>
    <div id="overview">
        <div style="float: right; text-align: center; padding-left: 20px;">
            <p><%= h(t.pages.key.overview.distribution_of_values) %></p>
            <div class="canvas" id="canvas-values"></div>
        </div>
<% if @image_url %>
        <div class="wiki_image">
            <img src="<%= @image_url.sub(/^http:/, '') %>" alt=""/>
        </div>
<% end %>
        <h2><%= h(t.taginfo.overview) %></h2>
        <div id="grid-overview"></div>
        <p><span title="<%= h(t.pages.key.overview.no_endorsement) %>" data-tooltip-position="OnBottom"><%= t.pages.key.overview.objects_last_edited_by(@user_count.to_s_with_ts) %></span></p>
    </div>
    <div id="values">
        <h2><%= h(t.pages.key.values_used) %></h2>
        <div id="grid-values"></div>
    </div>
    <div id="combinations">
        <h2><%= h(t.pages.key.other_keys_used.title) %></h2>
        <div id="grid-combinations"></div>
    </div>
    <div id="similar">
        <h2><%= h(t.pages.key.similar.title) %></h2>
        <div id="grid-similar"></div>
    </div>
<% if @sources.get(:chronology) %>
    <div id="chronology">
        <h2><%= h(t.taginfo.chronology) %></h2>
        <div id="chart-chronology"></div>
    </div>
<% end %>
    <div id="map">
        <h2><%= h(t.pages.key.geographic_distribution.title) %></h2>
        <% if @filter_type == 'all' %>
            <p><%= h(t.pages.key.geographic_distribution.all) %></p>
            <div class="multi-map">
                <img class="map" src="<%= @taginfo_config.get('geodistribution.background_image') %>" alt="" style="max-width: <%= @img_width %>px; z-index: 1; background-color: #ddddd4"/>
                <img class="map" src="/api/4/key/distribution/nodes?key=<%= @key_uri %>" alt="" style="max-width: <%= @img_width %>px; z-index: 2;"/>
                <img class="map" src="/api/4/key/distribution/ways?key=<%= @key_uri %>" alt="" style="max-width: <%= @img_width %>px; z-index: 3; position: relative;"/>
                <div class="note"><%= @taginfo_config.get('geodistribution.image_attribution') %></div>
            </div>
        <% elsif @filter_type == 'nodes' %>
            <p><%= h(t.pages.key.geographic_distribution.nodes) %></p>
            <div class="multi-map">
                <img class="map" src="<%= @taginfo_config.get('geodistribution.background_image') %>" alt="" style="max-width: <%= @img_width %>px; z-index: 1; background-color: #ddddd4"/>
                <img class="map" src="/api/4/key/distribution/nodes?key=<%= @key_uri %>" alt="" style="max-width: <%= @img_width %>px; z-index: 2; position: relative;"/>
                <div class="note"><%= @taginfo_config.get('geodistribution.image_attribution') %></div>
            </div>
        <% elsif @filter_type == 'ways' %>
            <p><%= h(t.pages.key.geographic_distribution.ways) %></p>
            <div class="multi-map">
                <img class="map" src="<%= @taginfo_config.get('geodistribution.background_image') %>" alt="" style="max-width: <%= @img_width %>px; z-index: 1; background-color: #ddddd4"/>
                <img class="map" src="/api/4/key/distribution/ways?key=<%= @key_uri %>" alt="" style="max-width: <%= @img_width %>px; z-index: 3; position: relative;"/>
                <div class="note"><%= @taginfo_config.get('geodistribution.image_attribution') %></div>
            </div>
        <% elsif @filter_type == 'relations' %>
            <p class="empty"><%= h(t.pages.key.geographic_distribution.relations) %></p>
        <% end %>
    </div>
    <div id="wiki">
        <h2><%= h(t.pages.key.wiki_pages.title) %></h2>
        <% if @wiki_count > 0 %>
            <div id="grid-wiki"></div>
        <% else %>
            <p class="empty"><%= h(t.pages.key.wiki_pages.none_found) %></p>
            <p><a class="extlink" target="_blank" rel="nofollow" href="//wiki.openstreetmap.org/w/index.php?action=edit&title=Key:<%= @key_uri %>"><%= h(t.pages.key.wiki_pages.create) %></a></p>
        <% end %>
    </div>
    <div id="projects">
        <h2><%= h(t.pages.key.projects.title) %></h2>
        <div id="grid-projects"></div>
    </div>
    <div id="characters">
        <h2><%= h(t.pages.key.characters.title) %></h2>
        <div id="grid-characters"></div>
    </div>
</div>
