<h1><%= t.osm.keys %></h1>

<table id="keys">
</table>

<script type="text/javascript">
    jQuery(document).ready(function() {
        jQuery('#keys').flexigrid({
            url: '/api/2/db/keys',
            method: 'GET',
            dataType: 'json',
            colModel: [
                { display: 'Key', name: 'key', width: 180, sortable: true, align: 'left' },
                { display: '<span title="Number of objects with this key"><img src="/img/types/all.16.png" alt=""/> Total</span>',           name: 'count_all',        width: 250, sortable: true, align: 'center' },
                { display: '<span title="Number of nodes with this key"><img src="/img/types/node.16.png" alt=""/> Nodes</span>',            name: 'count_nodes',      width: 250, sortable: true, align: 'center' },
                { display: '<span title="Number of ways with this key"><img src="/img/types/way.16.png" alt=""/> Ways</span>',               name: 'count_ways',       width: 250, sortable: true, align: 'center' },
                { display: '<span title="Number of relations with this key"><img src="/img/types/relation.16.png" alt=""/> Relation</span>', name: 'count_relations',  width: 250, sortable: true, align: 'center' },
                { display: 'Users', name: 'users_all', width: 44, sortable: true, align: 'right' },
                { display: '<img src="/img/sources/wiki.16.png" alt="Wiki" title="Wiki"/>', name: 'in_wiki', width: 20, sortable: true, align: 'center' },
                { display: '<img src="/img/sources/josm.16.png" alt="JOSM" title="JOSM"/>', name: 'in_josm', width: 20, sortable: true, align: 'center' },
             //   { display: '<img src="/img/sources/potlatch.16.png" alt="Potlatch 2" title="Potlatch 2"/>', name: 'in_potlatch', width: 20, sortable: true, align: 'center' },
             //   { display: '<img src="/img/sources/merkaartor.16.png" alt="Merkaartor" title="Merkaartor"/>', name: 'in_merkaartor', width: 20, sortable: true, align: 'center' },
                { display: '<span title="Number of different values for this key">Values</span>', name: 'values_all', width: 70, sortable: true, align: 'right' },
                { display: 'Prevalent Values', name: 'prevalent_values', width: 500, sortable: true, align: 'left' }
            ],
            searchitems: [
                { display: 'Key', name: 'key' }
            ],
            sortname: 'count_all',
            sortorder: 'desc',
            pagetext: '<%= t.flexigrid.pagetext %>',
            pagestat: '<%= t.flexigrid.pagestat %>',
            outof:    '<%= t.flexigrid.outof    %>',
            findtext: '<%= t.flexigrid.findtext %>',
            procmsg:  '<%= t.flexigrid.procmsg  %>',
            nomsg:    '<%= t.flexigrid.nomsg    %>',
            errormsg: '<%= t.flexigrid.errormsg %>',
            showToggleBtn: false,
            usepager: true,
            useRp: true,
            rp: 15,
            rpOptions: [10,15,20,25,50,100],
            height: 420,
            preProcess: function(data) {
                data.rows = jQuery.map(data.data, function(row, i) {
                    return { 'cell': [
                        link_to_key(row.key),
                        print_value_with_percent(row.count_all,       row.count_all_fraction),
                        print_value_with_percent(row.count_nodes,     row.count_nodes_fraction),
                        print_value_with_percent(row.count_ways,      row.count_ways_fraction),
                        print_value_with_percent(row.count_relations, row.count_relations_fraction),
                        print_with_ts(row.users_all),
                        row.in_wiki       ? '&#x2714;' : '-',
                        row.in_josm       ? '&#x2714;' : '-',
                 //       row.in_potlatch   ? '&#x2714;' : '-',
                 //       row.in_merkaartor ? '&#x2714;' : '-',
                        print_with_ts(row.values_all),
                        print_tag_list(row.key, row.prevalent_values)
                    ] };
                });
                return data;
            }
        });
    });
</script>
