<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
    <head profile="http://a9.com/-/spec/opensearch/1.1/">
        <title><%= h(title) %></title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="content-language" content="<%= r18n.locale.code %>" />
        <link rel="stylesheet" type="text/css" href="/css/taginfo.css" />
        <link rel="stylesheet" type="text/css" href="/css/smoothness/jquery-ui-1.8.10.custom.css" />
        <link rel="stylesheet" type="text/css" href="/css/flexigrid/flexigrid.css" />
        <link rel="search" type="application/opensearchdescription+xml" href="/search/opensearch.xml" title="<%= TaginfoConfig.get('opensearch.shortname') %>" />
<%= javascript_tags %>
    </head>
    <body>
        <div id="top">
            <div id="top_right">
                <form id="set_language" action="/switch_locale">
                    <input type="hidden" name="url" value="<%= request.path %>"/>
                    <select id="locale" name="locale">
<% r18n.available_locales.sort{ |a,b| a.title <=> b.title }.each do |locale| %>
                        <option value="<%= locale.code %>"<%= locale.code == r18n.locale.code ? ' selected="selected"' : ''%>><%= locale.title %>&nbsp;</option>
<% end %>
                    </select>
                </form>
                <form action="/search">
                    <input type="text" id="search" name="q" value="Search taginfo..." style="color: #d0d0d0;"/>
                </form>
            </div>
            <div id="date">
                <%= t.taginfo.data_from %>: <%= @data_until %> UTC
            </div>
            <div id="top_left">
                <a href="/"><img src="<%= TaginfoConfig.get('instance.icon', '/img/logo/world.png') %>" alt="taginfo"/></a>
<% if @section %>
                <a href="/"><img src="/img/logo/taginfo_with_bar.png" alt="taginfo"/></a>
                <a class="section" href="/<%= @section %>"><%= @section_title %></a>
<% else %>
                <a href="/"><img src="/img/logo/taginfo.png" alt="taginfo"/></a>
<% end %>
            </div>
        </div>
        <div id="main">
<%= yield %>
        </div>
        <div id="footer">
            <div id="footer_left">
                <a href="http://www.openstreetmap.org/"><b style="font-style: smallcaps;">OpenStreetMap</b></a>
            </div>
            <div id="footer_right">
                <a href="/sources"><%= t.taginfo.sources %></a> &middot;
                <a href="/download"><%= t.taginfo.download %></a> &middot;
                <a href="/about"><%= t.taginfo.about %></a> &middot;
                <img src="/img/link-extern.gif" alt="" width="14" height="10"/><a href="http://wiki.openstreetmap.org/wiki/Taginfo"><%= t.taginfo.wiki %></a>
            </div>
        </div>
    </body>
</html>
