<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
<head profile="http://a9.com/-/spec/opensearch/1.1/">
    <title><%= h(title) %></title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="content-language" content="<%= r18n.locale.code %>" />
    <link rel="stylesheet" type="text/css" href="/css/taginfo.css" />
    <link rel="stylesheet" type="text/css" href="/css/smoothness/jquery-ui-1.8.10.custom-minified.css" />
    <link rel="stylesheet" type="text/css" href="/css/flexigrid/flexigrid-minified.css" />
    <link rel="search" type="application/opensearchdescription+xml" href="/search/opensearch.xml" title="<%= TaginfoConfig.get('opensearch.shortname') %>" />
<%= javascript_tags %>
</head>
<body>
    <div id="header">
        <div id="header_date" title="<%= h(t.taginfo.data_from_description) %>" tipsy="ne"><%= h(t.taginfo.data_from) %>: <%= @data_until %> UTC</div>
        <div id="header_forms" class="no-print">
            <form id="set_language" action="/switch_locale">
                <input type="hidden" id="url" name="url" value="<%= TaginfoConfig.get('instance.url') + request.path %>"/>
                <select id="locale" name="locale">
<% r18n.available_locales.sort{ |a,b| a.title <=> b.title }.each do |locale| %>
                    <option value="<%= locale.code %>"<%= locale.code == r18n.locale.code ? ' selected="selected"' : ''%>><%= h(locale.title) %></option>
<% end %>
                </select>
            </form>
            <form id="search_form" action="/search"><input type="text" id="search" name="q" value="<%= h(params[:q]) %>"/></form>
        </div>
        <div id="header_logo">
            <a href="/"><img width="49" height="49" src="<%= TaginfoConfig.get('instance.icon', '/img/logo/world.png') %>" alt="taginfo"/></a>
<% if @section %>
            <a href="/"><img width="136" height="49" src="/img/logo/taginfo_with_bar.png" alt="taginfo"/></a>
            <a class="section" href="/<%= @section %>"><%= @section_title %></a>
<% else %>
            <a href="/"><img width="129" height="49" src="/img/logo/taginfo.png" alt="taginfo"/></a>
<% end %>
        </div>
    </div>
    <div id="main">
<%= yield %>
    </div>
    <div id="footer" class="no-print">
        <div id="footer_left"><a class="extlink" href="//www.openstreetmap.org/"><b>OpenStreetMap</b> - The Free Wiki World Map</a> &middot;
            <a href="//www.openstreetmap.org/copyright">Data &copy; OpenStreetMap contributors (ODbL)</a></div>
        <div id="footer_right">
            <a href="/keys"><%= h(t.osm.keys) %></a> &middot;
            <a href="/tags"><%= h(t.osm.tags) %></a> &middot;
            <a href="/relations"><%= h(t.osm.relations) %></a> &middot;
            <a href="/reports"><%= h(t.taginfo.reports) %></a> &middot;
            <a href="/sources"><%= h(t.taginfo.sources) %></a> &middot;
            <a href="/download"><%= h(t.taginfo.download) %></a> &middot;
            <a href="/taginfo/apidoc">API</a> &middot;
            <a href="/about"><%= h(t.taginfo.about) %></a> &middot;
            <a id="help_link" href="#help"><%= h(t.misc.help) %></a> &middot;
            <a class="extlink" href="//wiki.openstreetmap.org/wiki/Taginfo"><%= h(t.taginfo.wiki) %></a>
        </div>
    </div>
    <div id="javascriptmsg">This website only works with Javascript! Please enable Javascript in your browser.</div>
    <div id="help"><div id="help_tabs">
        <ul>
            <li><a href="/help/search"><%= h(t.help.search.title) %></a></li>
            <li><a href="/help/keyboard"><%= h(t.help.keyboard.title) %></a></li>
        </ul>
    </div></div>
</body>
</html>
