<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
    <head profile="http://a9.com/-/spec/opensearch/1.1/">
        <title><%= h(title) %></title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="content-language" content="<%= r18n.locale.code %>" />
        <link rel="stylesheet" type="text/css" href="/css/taginfo.css" />
        <link rel="stylesheet" type="text/css" href="/css/smoothness/jquery-ui-1.8.6.custom.css" />
        <link rel="stylesheet" type="text/css" href="/css/flexigrid/flexigrid.css" />
        <link rel="search" type="application/opensearchdescription+xml" href="/search/opensearch.xml" title="Taginfo" />
<%= javascript_tags %>
    </head>
    <body>
        <div id="top">
            <div id="right">
                <form id="set_language" action="/switch_locale">
                    <input type="hidden" name="url" value="<%= request.url %>"/>
                    <select id="locale" name="locale">
<% r18n.available_locales.each do |locale| %>
                        <option value="<%= locale.code %>"<%= locale.code == r18n.locale.code ? ' selected="selected"' : ''%>><%= locale.title %></option>
<% end %>
                    </select>
                </form>
            </div>
            <div id="middle">
                <form action="/search">
                    <input type="text" id="search" name="q" value=""/>
                </form>
            </div>
            <div id="left">
                <a href="/"><img src="/img/taginfo.48.png" alt="Taginfo" width="48" height="24" style="padding-top: 2px;"/></a>
                <span class="breadcrumbs"><%= breadcrumbs %></span>
            </div>
        </div>
        <div id="date">
            <%= t.taginfo.data_from %>: <%= @data_until %> UTC <span class="button"><a href="/sources"><%= t.taginfo.sources %></a></span>
            <span class="button"><a href="/download"><%= t.taginfo.download %></a></span>
            <span class="button"><a href="/about"><%= t.taginfo.about %></a></span>
            <span class="button"><img src="/img/link-extern.gif" alt="" width="14" height="10"/><a href="http://wiki.openstreetmap.org/wiki/Taginfo"><%= t.taginfo.wiki %></a></span>
        </div>
        <div id="main">
<%= yield %>
        </div>
    </body>
</html>
