<!DOCTYPE html>
<html lang="<%= r18n.locale.code %>" dir="<%= r18n.locale.ltr? ? "ltr" : "rtl" %>">
<head profile="http://a9.com/-/spec/opensearch/1.1/">
    <title><%= h(title) %></title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="content-language" content="<%= r18n.locale.code %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="/css/taginfo.css" />
    <link rel="search" type="application/opensearchdescription+xml" href="/search/opensearch.xml" title="<%= @taginfo_config.get('opensearch.shortname') %>" />
<% if @css %>
    <style type="text/css"><!--
<%= @css %>
--></style>
<% end %>
    <script id="context" type="application/json">
<%= data_as_script(@context) %>
    </script>
<%= javascript_tags %>
</head>
<body>
    <div id="tooltip"></div>
    <div id="menu-button-wrapper">
        <div id="menu-button"></div>
    </div>
    <header>
        <div id="header_date" title="<%= h(t.taginfo.data_from_description) %>" data-tooltip-position="OnLeft"><%= h(t.taginfo.data_from) %>: <%= @data_until %> UTC</div>
        <div id="header_forms" class="no-print">
            <form id="set_language" action="/switch_locale">
                <input type="hidden" id="url" name="url" value="<%= request.path %>"/>
                <select id="locale" name="locale">
<% r18n.available_locales.sort{ |a,b| a.title <=> b.title }.select{ |locale| ::Language.has?(locale.code) }.each do |locale| %>
                    <option value="<%= locale.code %>"<%= locale.code == r18n.locale.code ? ' selected="selected"' : ''%>><%= h(::Language[locale.code].native_name) %></option>
<% end %>
                </select>
            </form>
<% unless @nosearch %>
            <form id="search_form" action="/search">
                <input type="text" id="search" name="q" value="<%= h(params[:q]) %>" autocomplete="off"/>
                <div id="suggestions"></div>
            </form>
<% end %>
        </div>
        <div id="header_logo">
            <a href="/"><img width="49" height="49" src="<%= @taginfo_config.get('instance.icon', '/img/logo/world.png') %>" alt="taginfo"/></a>
            <a href="/"><img width="129" height="49" src="/img/logo/taginfo.png" alt="taginfo"/></a>
        </div>
    </header>
    <nav>
    <ul id="menu" class="no-print">
        <li><a <%= in_section('keys') %>href="<%= build_link('/keys') %>"><%= h(t.osm.keys) %></a></li>
        <li><a <%= in_section('tags') %>href="<%= build_link('/tags') %>"><%= h(t.osm.tags) %></a></li>
        <li><a <%= in_section('relations') %>href="<%= build_link('/relations') %>"><%= h(t.osm.relations) %></a></li>
        <li><a <%= in_section('projects') %>href="<%= build_link('/projects') %>"><%= h(t.taginfo.projects) %></a></li>
        <li><a <%= in_section('reports') %>href="<%= build_link('/reports') %>"><%= h(t.taginfo.reports) %></a></li>
        <li><a <%= in_section('about') %>href="<%= build_link('/about') %>"><%= h(t.taginfo.about) %></a></li>
<% if @section == 'taginfo' %>
        <li><a <%= in_section('taginfo') %>href="<%= build_link('/taginfo') %>"><%= h(t.taginfo.meta) %></a></li>
<% end %>
    </ul>
    </nav>
    <main>
<% if under_section %>
        <div class="section_title">
            <a class="section" href="/<%= @section %>"><%= @section_title %></a>
        </div>
<% end %>
<%= yield %>
    </main>
    <footer class="no-print">
        <div id="footer_left"><span id="osmlink"><a class="extlink" href="//www.openstreetmap.org/"><b>OpenStreetMap</b></a> &middot;</span>
            <a href="//www.openstreetmap.org/copyright">Data &copy; OSM contributors (ODbL)</a></div>
        <div id="footer_right">
            <a href="<%= build_link('/sources') %>"><%= h(t.taginfo.sources) %></a> &middot;
<% if SECTIONS[:download] %>
            <a href="<%= build_link('/download') %>"><%= h(t.taginfo.download) %></a> &middot;
<% end %>
<% if SECTIONS[:taginfo] %>
            <a href="/taginfo/apidoc">API</a> &middot;
<% end %>
            <a id="help-link" target="_blank" href="<%= build_link('/help') %>"><%= h(t.misc.help) %></a> &middot;
            <a class="extlink" href="//wiki.openstreetmap.org/wiki/Taginfo"><%= h(t.taginfo.wiki) %></a>
        </div>
    </footer>
    <div id="javascriptmsg">This website only works with Javascript! Please enable Javascript in your browser.</div>
</body>
</html>
