<div>
    <h1><%= h(@project['name']) %></h1>
    <p><%= h(@project['description']) %></p>
</div>
<div id="tabs">
    <ul class="no-print">
        <li><a href="#overview"><%= h(t.taginfo.overview) %></a></li>
        <li><a href="#tags"><%= h(t.osm.tags) %></a></li>
    </ul>
    <div id="overview">
        <table class="desc">
            <tr><th><%= h(t.pages.project.overview.project_name) %>:</th><td>
<% if @project['icon'] %>
                <img src="/api/4/project/icon?project=<%= h(@project['id']) %>" width="16" height="16" alt=""/>
<% end %>
                <%= h(@project['name']) %>
            </td></tr>
            <tr>
                <th><%= h(t.pages.project.overview.project_url) %>:</th>
                <td id="project_url"><a href="<%= h(@project['project_url']) %>" target="_blank" class="extlink" rel="nofollow"><%= h(@project['project_url']) %></a></td>
            </tr>
            <tr><th><%= h(t.pages.project.overview.description) %>:</th><td><%= h(@project['description']) %></td></tr>
<% if @project['doc_url'] %>
            <tr><th><%= h(t.pages.project.overview.documentation_url) %>:</th>
                <td id="doc_url"><a href="<%= h(@project['doc_url']) %>" target="_blank" class="extlink" rel="nofollow"><%= h(@project['doc_url']) %></a></td>
            </tr>
<% end %>
            <tr><th><%= h(t.pages.project.overview.last_update) %>:</th><td><%= h(@project['data_updated']) %></td></tr>
            <tr>
                <th><%= h(t.pages.project.overview.json_url) %>:</th>
                <td id="json_url"><a href="<%= h(@project['json_url']) %>" target="_blank" class="extlink" rel="nofollow"><%= h(@project['json_url']) %></a></td>
            </tr>
            <tr><th><%= h(t.osm.keys) %>:</th><td><%= h(@project['unique_keys']) %></td></tr>
            <tr><th><%= h(t.osm.tags) %>:</th><td><%= h(@project['unique_tags']) %></td></tr>
        </table>
        <p><i><%= t.pages.project.overview.info %></i></p>
    </div>
    <div id="tags">
        <h2><%= h(t.pages.project.tags.title) %></h2>
        <p><i><%= h(t.pages.project.tags.intro) %></i></p>
        <div id="grid-tags"></div>
    </div>
</div>
