<div>
    <h1 class="section"><%= h(t.taginfo.projects) %></h1>
    <p><%= t.pages.projects.intro %></p>
</div>
<div id="tabs">
    <ul class="no-print">
        <li><a href="#projects"><%= h(t.taginfo.projects) %></a></li>
        <li><a href="#keys"><%= h(t.osm.keys) %></a></li>
        <li><a href="#tags"><%= h(t.osm.tags) %></a></li>
    </ul>
    <div id="projects">
        <h2><%= h(t.taginfo.projects) %></h2>
        <div id="grid-projects"></div>
    </div>
    <div id="keys">
        <h2><%= h(t.osm.keys) %></h2>
        <div id="grid-keys"></div>
    </div>
    <div id="tags">
        <h2><%= h(t.osm.tags) %></h2>
        <div id="grid-tags"></div>
    </div>
</div>
