<div class="pre">
    <div id="tools" class="no-print">
        <% if @count_all_values < TaginfoConfig.get('xapi.max_results', 1000) %>
            <%= xapi_link('relation', 'type', @rtype) %> <%= josm_link('relation', 'type', @rtype) %>
        <% else %>
            <span class="button disabled" title="Button disabled, because there are too many objects with this key">XAPI</span>
            <span class="button disabled" title="Button disabled, because there are too many objects with this key">JOSM</span>
        <% end %>
    </div>
    <h1></h1>
    <p><%= @desc %></p>
</div>
<div id="tabs">
    <ul>
        <li><a href="#overview"><%= t.pages.relation.overview.tab %></a></li>
        <li><a href="#roles"><%= t.pages.relation.roles.tab %></a></li>
    </ul>
    <div id="overview">
        <h2><%= t.pages.relation.overview.title %></h2>
<% if @image_url %>
        <div style="float: right;">
            <img src="<%= @image_url %>" style="border: 1px solid #a0a0a0; border-radius: 4px; padding: 1px;" alt=""/>
        </div>
<% end %>
        <table id="grid-overview">
        </table>
        <p><%= t.pages.relation.overview.see_also %>: type=<span id="taglink"></span></p>
    </div>
    <div id="roles">
        <h2><%= t.pages.relation.roles.title %></h2>
<% if @count_relation_roles > 0 %>
        <table id="grid-roles">
        </table>
<% else %>
        <p class="empty"><%= t.pages.relation.roles.no_roles_info %></p>
<% end %>
    </div>
</div>
<iframe id="josmiframe" name="josmiframe"></iframe>
<% javascript do
    JS.raw(<<"JAVASCRIPT")
function page_init2() {
    var rtype = #{ @rtype.to_json };
    jQuery('h1').html("#{ t.pages.relation.name } '" + fmt_rtype(rtype) + "'");
    jQuery('span#taglink').html(link_to_value('type', rtype));
    init_tabs([rtype]);
}
JAVASCRIPT
end
%>
