<div class="pre ui-helper-clearfix">
    <div id="pre-text">
        <h1 data-rtype="<%= h(@rtype) %>"><%= h(t.pages.relation.name) %>: </h1>
        <p><%= @desc %></p>
    </div>
    <div id="toolsmenu"></div>
    <div id="tools" class="no-print">
        <ul>
<% if @count_all_values <= @taginfo_config.get('xapi.max_results', 1000) %>
            <li class="button"><%= xapi_link('relation', 'type', @rtype) %></li>
            <li class="button"><%= josm_link('relation', 'type', @rtype) %></li>
<% else %>
            <li class="button disabled" title="<%= h(t.pages.relation.button_disabled) %>">XAPI</li>
            <li class="button disabled" title="<%= h(t.pages.relation.button_disabled) %>">JOSM</li>
<% end %>
            <li class="button"><%= turbo_link(@count_all_values, 'relations', 'type', @rtype) %></li>
        </ul>
    </div>
</div>
<div id="tabs">
    <ul>
        <li><a href="#overview"><%= h(t.pages.relation.overview.tab) %></a></li>
        <li><a href="#roles"><%= h(t.pages.relation.roles.tab) %></a></li>
        <li><a href="#graph"><%= h(t.pages.relation.graph.tab) %></a></li>
        <li><a href="#wiki"><%= h(t.sources.wiki.name) %></a></li>
        <li><a href="#projects"><%= h(t.taginfo.projects) %></a></li>
        <li><a href="#characters"><%= h(t.taginfo.characters) %></a></li>
    </ul>
    <div id="overview">
<% if @image_url %>
        <div class="wiki_image">
            <img src="<%= @image_url.sub(/^http:/, '') %>" alt=""/>
        </div>
<% end %>
        <h2><%= h(t.pages.relation.overview.title) %></h2>
        <table id="grid-overview">
        </table>
        <p><%= h(t.pages.relation.overview.see_also) %>: type=<span id="taglink"></span></p>
    </div>
    <div id="roles">
        <h2><%= h(t.pages.relation.roles.title) %></h2>
<% if @count_relation_roles > 0 %>
        <table id="grid-roles">
        </table>
<% else %>
        <p class="empty"><%= h(t.pages.relation.roles.no_roles_info) %></p>
<% end %>
    </div>
    <div id="graph">
        <h2><%= h(t.pages.relation.graph.title) %></h2>
<% if @count_relation_roles > 0 %>
        <div class="canvas">
        </div>
<% else %>
        <p class="empty"><%= h(t.pages.relation.roles.no_roles_info) %></p>
<% end %>
    </div>
    <div id="wiki">
        <h2><%= h(t.pages.relation.wiki_pages.title) %></h2>
        <% if @wiki_count > 0 %>
            <table id="grid-wiki">
            </table>
        <% else %>
            <p class="empty"><%= h(t.pages.relation.wiki_pages.none_found) %></p>
            <p><a class="extlink" target="_blank" rel="nofollow" href="//wiki.openstreetmap.org/w/index.php?action=edit&title=Relation:<%= @rtype_uri %>"><%= h(t.pages.relation.wiki_pages.create) %></a></p>
        <% end %>
    </div>
    <div id="projects">
        <h2><%= h(t.pages.relation.projects.title) %></h2>
        <table id="grid-projects">
        </table>
    </div>
    <div id="characters">
        <h2><%= h(t.pages.relation.characters.title) %></h2>
        <table id="grid-characters">
        </table>
    </div>
</div>
