<div class="pre">
    <h1><%= t.pages.relation.name %> '<%= pp_rtype(@rtype) %>'</h1>
    <p><%= @desc %></p>
</div>
<div id="tabs">
    <ul>
        <li><a href="#overview"><%= t.pages.relation.overview.tab %></a></li>
        <li><a href="#roles"><%= t.pages.relation.roles.tab %></a></li>
    </ul>
    <div id="overview">
        <h2><%= t.pages.relation.overview.title %></h2>
    </div>
    <div id="roles">
        <h2><%= t.pages.relation.roles.title %></h2>
<% if @count_relation_roles > 0 %>
        <table id="grid-roles">
        </table>
<% else %>
        <p class="empty"><%= t.pages.relation.roles.no_roles_info %></p>
<% end %>
    </div>
</div>
<% javascript do
    JS.raw(<<"JAVASCRIPT")
function page_init2() {
    init_tabs([#{ @rtype.to_json }]);
}
JAVASCRIPT
end
%>
