<div class="pre">
    <h1 class="section"><%= @title %></h1>
    <p><b><%= t.pages.search.you_were_searching_for %>:</b> <%= escape_html(@query) %></p>
</div>
<div id="tabs">
    <ul>
        <li><a href="#keys"><%= t.osm.keys %></a></li>
        <li><a href="#values"><%= t.osm.values %></a></li>
        <li><a href="#fulltext"><%= t.pages.search.fulltext %></a></li>
    </ul>
    <div id="keys">
        <h2><%= t.osm.keys %></h2>
        <table id="grid-keys">
        </table>
    </div>
    <div id="values">
        <h2><%= t.osm.values %></h2>
        <table id="grid-values">
        </table>
    </div>
    <div id="fulltext">
        <h2><%= t.pages.search.fulltext %></h2>
        <p class="boxpre" style="color: #f00000;">This search is experimental. It shows keys and tags that might be related to the word you searched for. This doesn't work if there are several words.</p>
        <table id="grid-fulltext">
        </table>
    </div>
</div>
<% javascript do
    JS.raw(%Q{
function page_init2() {
    init_tabs([#{ @query.to_json }]);
}
    })
end
%>
