<div class="pre ui-helper-clearfix">
    <div id="pre-text">
        <h1 class="section"><%= h(@title) %></h1>
        <p><b><%= h(t.pages.search.you_were_searching_for) %>:</b> <span id="query"><%= h(@query) %></span></p>
    </div>
</div>
<div id="tabs">
    <ul>
        <li><a href="#keys"><%= h(t.osm.keys) %></a></li>
        <li><a href="#values"><%= h(t.osm.values) %></a></li>
        <li><a href="#relations"><%= h(t.osm.relation_types) %></a></li>
        <li><a href="#roles"><%= h(t.osm.relation_member_roles) %></a></li>
        <li><a href="#fulltext"><%= h(t.pages.search.fulltext) %></a></li>
    </ul>
    <div id="keys">
        <h2><%= h(t.osm.keys) %></h2>
        <table id="grid-keys">
        </table>
    </div>
    <div id="values">
        <h2><%= h(t.osm.values) %></h2>
        <table id="grid-values">
        </table>
    </div>
    <div id="relations">
        <h2><%= h(t.osm.relation_types) %></h2>
        <table id="grid-relations">
        </table>
    </div>
    <div id="roles">
        <h2><%= h(t.osm.relation_member_roles) %></h2>
        <table id="grid-roles">
        </table>
    </div>
    <div id="fulltext">
        <h2><%= h(t.pages.search.fulltext) %></h2>
        <p class="boxpre" style="color: #f00000;">This search is experimental. It shows keys and tags that might be related to the word you searched for. This doesn't work if there are several words.</p>
        <table id="grid-fulltext">
        </table>
    </div>
</div>
