<div>
    <h1 class="section"><%= h(@title) %></h1>
    <p><b><%= h(t.pages.search.you_were_searching_for) %>:</b> <span id="query"><%= h(@query) %></span></p>
</div>
<div id="tabs">
    <ul>
        <li><a href="#tags"><%= h(t.osm.tags) %></a></li>
    </ul>
    <div id="tags">
        <h2><%= h(t.osm.tags) %></h2>
        <div id="grid-tags"></div>
    </div>
</div>
