<h1 class="section"><%= h(t.taginfo.sources) %></h1>
<%= t.pages.sources.intro %>
<div class="fboxes">
    <div class="fbox">
        <h2><%= h(t.pages.sources.list.title) %></h2>
        <div>
            <p><%= h(t.pages.sources.list.intro) %></p>
<% @sources.visible.each_with_index do |source, n| c = (n%2!=0) ? ' even' : '' %>
            <h3><%= h(t.sources[source.id].name) %></h3>
            <%= t.pages.sources.description[source.id] %>
<% end %>
        </div>
    </div>
    <div class="fbox">
        <h2><%= h(t.pages.sources.updates.title) %></h2>
        <div>
            <p><%= h(t.pages.sources.updates.intro) %></p>
            <table class="list">
                <tr>
                    <th class="tl"><%= h(t.taginfo.source) %></th>
                    <th><%= h(t.pages.sources.data_until) %>*</th>
                    <th><%= h(t.pages.sources.last_update_run) %></th>
                </tr>
<% @sources.visible.each_with_index do |source, n| c = (n%2!=0) ? ' even' : '' %>
                <tr>
                    <td class="<%= c %>"><%= h(t.sources[source.id].name) %>
                    <td class="tc<%= c %> nowrap"><%= h(source.data_until) %> UTC</td>
                    <td class="tc<%= c %> nowrap"><%= h(source.update_start.to_s + ' ' + t.pages.sources.to + ' ' + source.update_end.to_s) %> UTC</td>
                </tr>
<% end %>
            </table>
            <p class="note">* <%= h(t.pages.sources.data_until_explanation) %></p>
        </div>
    </div>
</div>
