<%
@css = <<"CSS"
dt {
    margin: 20px 0 6px 0;
    font-weight: bold;
    font-size: 1.2rem;
}
dd {
    margin-left: 10px;
}
CSS
%>
<h1 class="section"><%= h(t.taginfo.sources) %></h1>
<p><%= h(t.pages.sources.intro) %></p>
<p><i><%= h(t.pages.sources.display_only) %></i></p>
<div class="fboxes">
<% @sources.visible.each do |source| %>
    <div class="fbox">
        <h2><a href="<%= build_link("/sources/#{ source.id }") %>"><%= h(t.sources[source.id].name) %></a></h2>
        <div>
            <%= t.pages.sources.description[source.id] %>
            <p><a href="<%= build_link("/sources/#{ source.id }") %>">More about this source...</a></p>
        </div>
    </div>
<% end %>
</div>
