<div class="pre">
    <h1 class="section"><%= h(t.taginfo.sources) %></h1>
    <%= t.pages.sources.intro %>
</div>
<div class="box resize">
    <table class="list">
        <tr>
            <th class="tl"><%= h(t.taginfo.source) %></th><th><%= h(t.pages.sources.data_until) %>*</th><th><%= h(t.pages.sources.last_update_run) %></th>
        </tr>
    <% Source.visible.each_with_index do |source, n| c = (n%2!=0) ? ' even' : '' %>
        <tr>
            <td class="<%= c %>"><%= h(source.name) %>
            <td class="tc<%= c %>"><%= h(source.data_until) %> UTC</td>
            <td class="tc<%= c %>"><%= h(source.update_start + ' ' + t.pages.sources.to + ' ' + source.update_end) %> UTC</td>
        </tr>
    <% end %>
    </table>

    <p style="font-size: 80%">* <%= h(t.pages.sources.data_until_explanation) %></p>
</div>
