<div>
    <div id="toolsmenu"></div>
    <form id="filter-form">
        <label for="filter"><%= h(t.pages.key.filter.label) %></label>
        <select id="filter" name="filter">
            <option value="all"<%=       @sel['all']       %>><%= h(t.pages.key.filter.none) %></option>
            <option value="nodes"<%=     @sel['nodes']     %>><%= h(t.pages.key.filter.nodes) %></option>
            <option value="ways"<%=      @sel['ways']      %>><%= h(t.pages.key.filter.ways) %></option>
            <option value="relations"<%= @sel['relations'] %>><%= h(t.pages.key.filter.relations) %></option>
        </select>
    </form>
    <div id="comparison-list">
        <div><%= h(t.comparison.list) %> (0 <%= h(t.comparison.items) %>)</div>
        <ul>
            <li id="comparison-list-add"><%= h(t.comparison.add_tag) %></li>
            <li id="comparison-list-clear"><%= h(t.comparison.clear) %></li>
            <li id="comparison-list-compare"><%= h(t.comparison.compare) %></li>
        </ul>
    </div>
    <div id="tools">
        <ul>
<% if @count_all < @taginfo_config.get('xapi.max_results', 1000) %>
            <li class="button"><%= xapi_link(@filter_xapi, @key, @value) %></li>
            <li class="button"><%= josm_link(@filter_xapi, @key, @value) %></li>
<% else %>
            <li class="button disabled" title="<%= h(t.pages.tag.button_disabled) %>">XAPI</li>
            <li class="button disabled" title="<%= h(t.pages.tag.button_disabled) %>">JOSM</li>
<% end %>
<% if @count_all <= @taginfo_config.get('level0.max_results', 10) %>
            <li class="button"><%= level0_link(@filter_type, @key, @value) %></li>
<% else %>
            <li class="button disabled" title="<%= h(t.pages.tag.button_disabled) %>">Level0 Editor</li>
<% end %>
            <li class="button"><%= turbo_link(@count_all, @filter_type, @key, @value) %></li>
            <li class="button"><a target="_blank" id="osm-tag-history-button">OSM Tag History</a></li>
            <li class="button"><a target="_blank" id="ohsome-button">ohsome</a></li>
        </ul>
    </div>
    <div>
        <h1></h1>
        <p><%= @desc %></p>
    </div>
</div>
<div id="tabs">
    <ul>
        <li><a href="#overview"><%= h(t.taginfo.overview) %></a></li>
        <li><a href="#combinations"><%= h(t.taginfo.combinations) %></a></li>
<% if @sources.get(:chronology) %>
        <li><a href="#chronology"><%= h(t.taginfo.chronology) %></a></li>
<% end %>
        <li><a href="#map"><%= h(t.taginfo.map) %></a></li>
        <li><a href="#wiki"><%= h(t.sources.wiki.name) %></a></li>
        <li><a href="#projects"><%= h(t.taginfo.projects) %></a></li>
        <li><a href="#characters"><%= h(t.taginfo.characters) %></a></li>
    </ul>
    <div id="overview">
<% if @image_url %>
        <div class="wiki_image">
            <img src="<%= @image_url.sub(/^http:/, '') %>" alt=""/>
        </div>
<% end %>
        <h2><%= h(t.taginfo.overview) %></h2>
        <div id="grid-overview"></div>
<% if @has_rtype_link or @links.size > 0 %>
        <h2><%= h(t.taginfo.links) %></h2>
<% end %>
<% if @has_rtype_link %>
        <p><%= h(t.pages.tag.overview.see_also) %>: <span id="relationlink"></span></p>
<% end %>
<% @links.each do |link| %>
        <p><%= link %></p>
<% end %>
    </div>
    <div id="combinations">
        <div>
            <h2><%= h(t.pages.tag.combinations.title) %></h2>
            <p><%= h(t.pages.tag.combinations.description) %></p>
        </div>
        <div id="grid-combinations"></div>
    </div>
<% if @sources.get(:chronology) %>
    <div id="chronology">
        <h2><%= h(t.taginfo.chronology) %></h2>
        <% if @has_chronology %>
        <div id="chart-chronology"></div>
        <% else %>
            <p class="empty"><%= h(t.pages.tag.chronology.no_chronology) %></p>
        <% end %>
    </div>
<% end %>
    <div id="map">
        <h2><%= h(t.pages.tag.geographic_distribution.title) %></h2>
        <% if @has_map %>
            <% if @filter_type == 'all' %>
                <p><%= h(t.pages.tag.geographic_distribution.all) %></p>
                <div class="multi-map">
                    <img class="map" src="<%= @taginfo_config.get('geodistribution.background_image') %>" alt="" style="max-width: <%= @img_width %>px; z-index: 1; background-color: #ddddd4"/>
                    <img class="map" src="<%= build_link("/api/4/tag/distribution/nodes?key=#{ @key_uri }&value=#{ @value_uri }") %>" alt="" style="max-width: <%= @img_width %>px; z-index: 2;"/>
                    <img class="map" src="<%= build_link("/api/4/tag/distribution/ways?key=#{ @key_uri }&value=#{ @value_uri }") %>" alt="" style="max-width: <%= @img_width %>px; z-index: 3; position: relative;"/>
                    <div class="note"><%= @taginfo_config.get('geodistribution.image_attribution') %></div>
                </div>
            <% elsif @filter_type == 'nodes' %>
                <p><%= h(t.pages.tag.geographic_distribution.nodes) %></p>
                <div class="multi-map">
                    <img class="map" src="<%= @taginfo_config.get('geodistribution.background_image') %>" alt="" style="max-width: <%= @img_width %>px; z-index: 1; background-color: #ddddd4"/>
                    <img class="map" src="<%= build_link("/api/4/tag/distribution/nodes?key=#{ @key_uri }&value=#{ @value_uri }") %>" alt="" style="max-width: <%= @img_width %>px; z-index: 2; position: relative;"/>
                    <div class="note"><%= @taginfo_config.get('geodistribution.image_attribution') %></div>
                </div>
            <% elsif @filter_type == 'ways' %>
                <p><%= h(t.pages.tag.geographic_distribution.ways) %></p>
                <div class="multi-map">
                    <img class="map" src="<%= @taginfo_config.get('geodistribution.background_image') %>" alt="" style="max-width: <%= @img_width %>px; z-index: 1; background-color: #ddddd4"/>
                    <img class="map" src="<%= build_link("/api/4/tag/distribution/ways?key=#{ @key_uri }&value=#{ @value_uri }") %>" alt="" style="max-width: <%= @img_width %>px; z-index: 3; position: relative;"/>
                    <div class="note"><%= @taginfo_config.get('geodistribution.image_attribution') %></div>
                </div>
            <% elsif @filter_type == 'relations' %>
                <p class="empty"><%= h(t.pages.tag.geographic_distribution.relations) %></p>
            <% end %>
        <% else %>
            <p class="empty"><%= h(t.pages.tag.geographic_distribution.no_map) %></p>
        <% end %>
    </div>
    <div id="wiki">
        <h2><%= h(t.pages.tag.wiki_pages.title) %></h2>
        <% if @wiki_count > 0 %>
            <div id="grid-wiki"></div>
        <% else %>
            <p class="empty"><%= h(t.pages.tag.wiki_pages.none_found) %> <%= @wiki_count_key > 0 ? t.pages.tag.wiki_pages.suggest_key_wiki_page('<span id="keylink"></span>') : '' %></p>
            <p><a class="extlink" target="_blank" rel="nofollow" href="//wiki.openstreetmap.org/w/index.php?action=edit&title=Tag:<%= escape(@tag) %>"><%= h(t.pages.tag.wiki_pages.create) %></a></p>
        <% end %>
    </div>
    <div id="projects">
        <h2><%= h(t.pages.tag.projects.title) %></h2>
        <div id="grid-projects"></div>
    </div>
    <div id="characters">
        <h2><%= h(t.pages.tag.characters.title) %></h2>
        <div id="grid-characters"></div>
    </div>
</div>
