<div class="pre">
    <form id="filter-form">
        <label for="filter"><%= t.pages.key.filter.label %></label>
        <select id="filter" name="filter">
            <option value="all"<%=       @sel['all']       %>><%= t.pages.key.filter.none %></option>
            <option value="nodes"<%=     @sel['nodes']     %>><%= t.pages.key.filter.nodes %></option>
            <option value="ways"<%=      @sel['ways']      %>><%= t.pages.key.filter.ways %></option>
            <option value="relations"<%= @sel['relations'] %>><%= t.pages.key.filter.relations %></option>
        </select>
    </form>
    <div id="tools">
        <% if @count_all < TaginfoConfig.get('xapi.max_results', 1000) %>
            <%= xapi_link(@filter_xapi, @key, @value) %> <%= josm_link(@filter_xapi, @key, @value) %>
        <% else %>
            <span class="button disabled" title="Button disabled, because there are too many objects with this key">XAPI</span>
            <span class="button disabled" title="Button disabled, because there are too many objects with this key">JOSM</span>
        <% end %>
    </div>
    <h1><%= link_to_key(@key) %>=<%= @value_pp %></h1>
    <p><%= @desc %></p>
</div>
<div id="tabs">
    <ul>
        <li><a href="#overview"><%= t.taginfo.overview %></a></li>
        <li><a href="#combinations"><%= t.taginfo.combinations %></a></li>
        <li><a href="#wiki"><%= t.sources.wiki.name %></a></li>
        <li><a href="#josm"><%= t.sources.josm.name %></a></li>
    </ul>
    <div id="overview">
        <h2><%= t.taginfo.overview %></h2>
        <table id="grid-overview">
        </table>
    </div>
    <div id="combinations">
        <div class="boxpre">
            <h2><%= t.pages.tag.combinations.title %></h2>
            <p><%= t.pages.tag.combinations.description %></p>
        </div>
        <table id="grid-combinations">
        </table>
    </div>
    <div id="wiki">
        <h2><%= t.pages.tag.wiki_pages.title %></h2>
        <% if @wiki_count > 0 %>
            <table id="grid-wiki">
            </table>
        <% else %>
            <p class="empty"><%= t.pages.tag.wiki_pages.none_found %> <%= @wiki_count_key > 0 ? t.pages.tag.wiki_pages.suggest_key_wiki_page(link_to_key(@key, '#wiki')) : '' %></p>
            <p><a class="extlink" target="_blank" rel="nofollow" href="http://wiki.openstreetmap.org/w/index.php?action=edit&title=Tag:<%= escape(@tag) %>"><%= t.pages.tag.wiki_pages.create %></a></p>
        <% end %>
    </div>
    <div id="josm">
        <h2><%= t.pages.key.josm.title %></h2>
<!--        <form>
            <label for="josm-style"><%= t.pages.tag.josm.choice %></label>
            <select id="josm-style" name="josm-style">
                <option>Standard</option>
            </select>
        </form>-->
       <table id="grid-josm">
       </table>
    </div>
</div>
<iframe id="josmiframe" name="josmiframe"></iframe>
<% javascript do
    JS.raw(<<"JAVASCRIPT")
function page_init2() {
    init_tabs([#{ @key.to_json }, #{ @value.to_json }, #{ @filter_type.to_json }]);
}
JAVASCRIPT
end
%>
