<div id="tools">
    <% if @count_all < 1000 %>
        <%= xapi_link('*', @key, @value) %> <%= josm_link('*', @key, @value) %>
    <% else %>
        <span class="button disabled" title="Button disabled, because there are too many objects with this key"><img src="/img/link-extern-disabled.gif" alt=""/>XAPI</span>
        <span class="button disabled" title="Button disabled, because there are too many objects with this key"><img src="/img/link-extern-disabled.gif" alt=""/>JOSM</span>
    <% end %>
</div>

<form id="filter-form">
    <label for="filter"><%= t.pages.key.filter.label %></label>
    <select id="filter" name="filter">
        <option value="all"<%=       @sel['all']       %>><%= t.pages.key.filter.none %></option>
        <option value="nodes"<%=     @sel['nodes']     %>><%= t.pages.key.filter.nodes %></option>
        <option value="ways"<%=      @sel['ways']      %>><%= t.pages.key.filter.ways %></option>
        <option value="relations"<%= @sel['relations'] %>><%= t.pages.key.filter.relations %></option>
    </select>
</form>

<h1><%= link_to_key(@key) %>=<%= @value_pp %></h1>

<div class="tag-description" title="Description from the wiki">
    <%= @desc %>
</div>

<div id="tabs">
    <ul>
        <li><a href="#overview"><%= t.taginfo.overview %></a></li>
        <li><a href="#combinations"><%= t.taginfo.combinations %></a></li>
        <li><a href="#wiki"><%= t.sources.wiki.name %></a></li>
        <li><a href="#josm"><%= t.sources.josm.name %></a></li>
    </ul>
    <div id="overview">
        <h2><%= t.taginfo.overview %></h2>
        <table id="grid-overview">
        </table>
    </div>
    <div id="combinations">
        <h2><%= t.pages.tag.combinations.title %></h2>
        <p><%= t.pages.tag.combinations.description %></p>
        <table id="grid-combinations">
        </table>
    </div>
    <div id="wiki">
        <h2><%= t.pages.tag.wiki_pages.title %></h2>
        <table id="grid-wiki">
        </table>
    </div>
    <div id="josm">
        <h2><%= t.pages.key.josm_rules.title %></h2>
        <form>
            <label for="josm-style"><%= t.pages.tag.josm_rules.choice %></label>
            <select id="josm-style" name="josm-style">
                <option>Standard</option>
            </select>
        </form>
       <table id="grid-josm">
       </table>
    </div>
</div>

<iframe id="josmiframe" name="josmiframe"></iframe>

<% javascript do
    JQuery.ready do
        JS.raw(<<"JAVASCRIPT")
jQuery('#josm_button').bind('click', function() {
    jQuery('#josmiframe')[0].src = jQuery('#josm_button')[0].href;
    return false;
});

jQuery('#filter').bind('change', function() {
    var value = this.value;
    window.location.search = 'filter=' + value;
});

var tabs = jQuery('#tabs').tabs({
    show: function(event, ui) { 
        window.location.hash = ui.tab.hash;
        create_flexigrid_for.tag[ui.tab.hash.substring(1)](#{ @key.to_json }, #{ @value.to_json }, #{ @filter_type.to_json });
    }
});
JAVASCRIPT
    end
end
%>
