<table id="overview">
</table>

<h1><%= link_to_key(@key) %>=<%= @value_pp %></h1>

<div class="source-wiki" title="Description from the wiki">
    <%= @desc %>
</div>

<div id="tools">
    <% if @count_all < 1000 %>
        <%= xapi_link('*', @key, @value) %> <%= josm_link('*', @key, @value) %>
    <% else %>
        <span class="button disabled" title="Button disabled, because there are too many objects with this key"><img src="/img/link-extern-disabled.gif" alt=""/>XAPI</span>
        <span class="button disabled" title="Button disabled, because there are too many objects with this key"><img src="/img/link-extern-disabled.gif" alt=""/>JOSM</span>
    <% end %>
</div>

<div id="tabs">
    <ul>
        <li><a href="#wiki"><%= t.sources.wiki.name %></a></li>
        <li><a href="#josm"><%= t.sources.josm.name %></a></li>
    </ul>
    <div id="wiki">
        <h2><%= t.pages.tag.wiki_pages.title %></h2>
        <table id="grid-wiki">
        </table>
    </div>
    <div id="josm">
        <h2><%= t.pages.key.josm_rules.title %></h2>
        <form>
            <label for="josm-style"><%= t.pages.tag.josm_rules.choice %></label>
            <select id="josm-style" name="josm-style">
                <option>Standard</option>
            </select>
        </form>
       <table id="grid-josm">
       </table>
    </div>
</div>

<iframe id="josmiframe" name="josmiframe"></iframe>

<% javascript do
    JQuery.ready do
        JS.raw(<<"JAVASCRIPT")
jQuery('#josm_button').bind('click', function() {
    jQuery('#josmiframe')[0].src = jQuery('#josm_button')[0].href;
    return false;
});

jQuery('#filter').bind('change', function() {
    var value = this.value;
    window.location.search = 'filter=' + value;
});

jQuery.getJSON('/api/2/db/tags/overview?key=#{ @key_uri }&value=#{ @value_uri }', function(data, textStatus) {
    var table_content = '<tr><th></th><th title="Number of objects with this tag">Number of objects</th></tr>';
    table_content += jQuery.map(['all', 'nodes', 'ways', 'relations'], function(obj, i) {
        var d = data[obj];
        return '<tr><td>' + print_image(obj) + '</td><td class="count">' + print_value_with_percent(d.count, d.count_fraction) + '</td></tr>';
    }).join('');
    jQuery('#overview').append(table_content);
});

var tabs = jQuery('#tabs').tabs({
    show: function(event, ui) { 
        window.location.hash = ui.tab.hash;
        create_flexigrid_for.tag[ui.tab.hash.substring(1)](#{ @key.to_json }, #{ @value.to_json });
    }
});
JAVASCRIPT
    end
end
%>
