<div lang="en" dir="ltr">

<h1 class="section">API Documentation</h1>

<p>See <a class="extlink" href="//wiki.openstreetmap.org/wiki/Taginfo/API">the OSM wiki</a> for general information about the API.</p>

<h2>Table of Contents</h2>

<ul>
<%  API.paths.keys.sort.each do |version|
        if version > 0
            API.paths[version].keys.sort.each do |path|
                doc = API.paths[version][path] %>
    <li><a href="#<%= doc.complete_path.tr('/', '_')[1,1000] %>"><%= doc.complete_path %></a><%= doc.deprecated? ? " <span class='bad'>Deprecated</span>" : '' %></li>
<%          end
        end
    end %>
</ul>

<%  API.paths.keys.sort.each do |version|
        if version > 0
            API.paths[version].keys.sort.each do |path|
                doc = API.paths[version][path]
                hashpath = doc.complete_path.tr('/', '_')[1,1000] %>
<a name="<%= hashpath %>"></a>
<h2><%= doc.complete_path %><%= doc.deprecated? ? " <span class='bad'>Deprecated</span>" : '' %></h2>
<table class="desc">
    <tr>
        <th>Path:</th>
        <td><tt><%= doc.complete_path %></tt></td>
    </tr>
    <tr>
        <th>Description:</th>
        <td><%= doc.description %></td>
    </tr>
    <tr>
        <th>Parameters:</th>
        <td><%= doc.show_parameters %></td>
    </tr>
    <tr>
        <th>Paging:</th>
        <td><%= doc.show_paging %></td>
    </tr>
    <tr>
        <th>Filter:</th>
        <td><%= doc.show_filter %></td>
    </tr>
    <tr>
        <th>Sort:</th>
        <td><%= doc.show_sort %></td>
    </tr>
    <tr>
        <th>Result:</th>
        <td><%= doc.show_result %></td>
    </tr>
    <tr>
        <th>Example:</th>
        <td><a rel="nofollow" href="<%= build_link(h(doc.show_example)) %>" target="_blank"><%= h(doc.show_example) %></a></td>
    </tr>
    <tr>
        <th title="User interface page where this API is used">UI Example:</th>
        <td><a href="<%= build_link(h(doc.show_ui)) %>" target="_blank"><%= h(doc.show_ui) %></a></td>
    </tr>
<% if doc.notes %>
    <tr>
        <th>Notes:</th>
        <td><%= doc.notes %></td>
    </tr>
<% end %>
</table>
<%          end
        end
    end %>

</div>
