<div class="pre ui-helper-clearfix">
    <div id="pre-text">
        <h1>taginfo META</h1>
        <p>This section is for developers only.</p>
    </div>
</div>
<div class="box resize">
    <h2>Menu</h2>
    <ul>
        <li><a href="/taginfo/apidoc"><%= t.taginfo.apidoc %></a></li>
        <li><a href="/taginfo/translations">Translations Overview</a></li>
        <li><a href="/taginfo/i18n">Translated Texts</a></li>
        <li><a href="/taginfo/config">Configuration</a></li>
        <li><a href="/taginfo/projects">Projects</a></li>
    </ul>
    <h2>Software Version</h2>
    <p><%= @commit_date %> (<a href="https://github.com/joto/taginfo/commit/<%= @commit %>"><%= @commit[0, 10] %></a>)</p>
    <h2>Config Settings</h2>
    <table class="list">
        <tr><th class="tl">Variable</th><th class="tl">Setting</th></tr>
<% [:url, :name, :description, :icon, :contact, :area].each do |k| %>
        <tr><td><%= k %></td><td><%= TaginfoConfig.get("instance.#{k}") %></td></tr>
<% end %>
    </table>
    <p style="margin-top: 10px;">These config settings are also available from the <tt>/api/4/site/info</tt> <a href="/taginfo/apidoc#api_4_site_info">API call</a>.</p>
</div>
