<div lang="en" dir="ltr">
    <h1>Translations Overview</h1>
</div>
<div class="box" lang="en" dir="ltr">
    <table class="list">
<% r18n.available_locales.sort{ |a,b| a.code <=> b.code }.each_with_index do |locale, n| %>
<%   percent = (@num_texts[locale.code].to_f / @num_texts['en'].to_f * 100).to_i %>
        <tr>
            <td style="text-align: right;"><%= n + 1 %>.</td>
            <td><span class="badge lang"><%= locale.code %></span></td>
            <td><%= h(::Language[locale.code].english_name) %></td>
            <td lang="<%= locale.code %>" dir="<%= locale.ltr? ? 'ltr' : 'rtl' %>"><%= h(::Language[locale.code].native_name) %></td>
            <td class="tr"><%= @num_texts[locale.code] %>/<%= @num_texts['en'] %></td>
            <td class="tr <%= percent == 100 ? 'good' : ( percent <= 80 ? 'bad' : 'okay' ) %>"><%= percent %>%</td>
            <td><a href="/taginfo/i18n?lang=<%= locale.code %>">see texts</a></td>
        </tr>
<% end %>
    </table>
</div>
