<div class="pre ui-helper-clearfix" lang="en" dir="ltr">
    <div id="pre-text">
        <h1 class="section">Wiki problems</h1>
        <p>The following problems were encountered when taginfo parsed the
        wiki. Some of these problems are taginfos fault, some should be
        fixed in the wiki. For a description of the problems see the <a
        href="https://wiki.openstreetmap.org/wiki/Taginfo/Parsing_the_Wiki">OSM
        wiki</a>.</p>
    </div>
</div>
<div id="tabs" lang="en" dir="ltr">
    <ul class="no-print">
        <li><a href="#list">Problem list</a></li>
        <li><a href="#stats-reason">Stats (by reason)</a></li>
        <li><a href="#stats-lang">Stats (by language)</a></li>
    </ul>
    <div id="list">
        <table id="grid-wiki-problems">
        </table>
    </div>
    <div id="stats-reason">
        <table class="list" style="float: left; margin-right: 20px;">
            <tr><th>Count</th><th>Reason</th></tr>
<% @stats_reason.each do |row| %>
            <tr><td style="text-align: right"><%= row['count'] %></td><td><%= row['reason'] %></td></tr>
<% end %>
        </table>
        <table class="list">
            <tr><th>Count</th><th>Reason</th></tr>
<% @stats_reason.sort{ |a, b| b['count'] <=> a['count'] }.each do |row| %>
            <tr><td style="text-align: right"><%= row['count'] %></td><td><%= row['reason'] %></td></tr>
<% end %>
        </table>
    </div>
    <div id="stats-lang">
        <table class="list" style="float: left; margin-right: 20px;">
            <tr><th>Count</th><th>Language</th></tr>
<% @stats_lang.each do |row| %>
            <tr><td style="text-align: right"><%= row['count'] %></td><td><%= row['lang'] %></td></tr>
<% end %>
        </table>
        <table class="list">
            <tr><th>Count</th><th>Language</th></tr>
<% @stats_lang.sort{ |a, b| b['count'] <=> a['count'] }.each do |row| %>
            <tr><td style="text-align: right"><%= row['count'] %></td><td><%= row['lang'] %></td></tr>
<% end %>
        </table>
    </div>
</div>
