<p style="text-align: center;"><b><%= @feature_name %></b></p>

<p style="background: #ffffff; padding: 4px; -moz-border-radius: 3px; text-align: center; min-height: 36px; vertical-align: middle;">
<% if @feature['icon_image'] %>
    <img src="/sources/potlatch/icon/<%= @feature['icon_image'] %>" alt="Icon" title="Icon"/>
<% end %>
</p>

<p style="text-align: center;">
<% [:point, :line, :area, :relation].each do |otype| %>
    <% imgmatch = { :point => 'node', :line => 'way', :area => 'area', :relation => 'relation' };
       image = @feature['on_' + otype.to_s] == '1' ? imgmatch[otype] : 'none' %>
    <img src="/img/types/<%= image %>.16.png" alt="" title="<%= otype.to_s.capitalize %>"/>
<% end %>
</p>

<p style="text-align: center;"><%= external_link('Help text', @feature['help']) %></p>

<p style="text-align: center;">Tags:<br/>
    <% @tags.each do |tag| %>
        <%= link_to_tag(tag['key'], tag['value']) %><br/>
    <% end %>
</p>

